<app-header></app-header>

<div class="profile_body">

    <!-- <div *ngIf="data">
        <div *ngFor="let prof of data" class="feed_post"> -->




    <div class="rounded_rectangle">

    </div>

    <div class="mini_rectangles">

        <div class="profile_rectangle">


            <div class="disp_img">


            </div>

            <div class="except_image">
                <div class="main_info">



                    <input class="startup_name" type="text" placeholder="User Name, Startup Name">

                    
                    <input class="industry_name" type="text" placeholder="Legal Name | Industry">

                    
                    
                

                    <!-- above we have mentioned user name, startup name, legal name of company, industry which company belongs to -->
                </div>
            </div>


        </div>

        <div class="gst_rectangle">

            <!-- the gst icon and the other icon will come here -->


            <div class="icon1"></div>
            <div class="icon2"></div>

        </div>

    </div>

    <div class="user_info">

        <div class="about_us">
            <h3>About us</h3>
            <textarea [defaultValue]="" type="text" cols="75" rows="7" placeholder="Add something" ></textarea>
        </div>

        <div class="personal_details">

            <div class="personal_single">
                <img src="../../assets/Phone.svg" alt="">
                <input type="text" placeholder="Phone No.">
            </div>

            <div class="personal_single">
                <img src="../../assets/Group 2.svg" alt="">
                <input type="text" placeholder="Email">
            </div>

            <div class="personal_single">
                <img src="../../assets/Globe.svg" alt="">
                <input type="text" placeholder="Website">
            </div>

            <div class="personal_single">
                <img src="../../assets/Buildings.svg" alt="">
                <input type="text" placeholder="Address">
            </div>


        </div>

    </div>

   
    <h4 class="keyteam">Key Team Members</h4>

    <div class="team">


        <div class="total_member">
            <div class="team_member image1"> </div>
            <div class="text_member">
                <p class="member_name">Name</p>
                <p class="member_post">Position</p>
            </div>

        </div>

        <div class="total_member">
            <div class="team_member image2"> </div>
            <div class="text_member">
                <p class="member_name">Name</p>
                <p class="member_post">Position</p>
            </div>

        </div>


        <button class="addkeyteam" onclick="open()">Add team member</button>

    </div>


    <div class="market_header">
        <h3>Products sold by this Business</h3>
    </div>

    <div class="prof_market">


        <div class="oneimg">
            <div class="plus">
            <img src="../../assets/Plus.png" alt="">
            </div>
        </div>

       
    </div>


    <a href="profile">Update Changes</a>




<app-connections class="connections"> </app-connections>
