.profile_body {
    /* align-items: center;
    text-align: center; */
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    // left: 0;
    background-color: white;
    margin-left: 10vw;
    max-width: 60vw;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    margin-bottom: 90px;



    .rounded_rectangle {
        background-image: url(../../assets/mountains.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 60vw;
        height: 30vh;
        /* border: 1px solid black; */
        border-radius: 5px;
        position: absolute;
        z-index: 10;
        //  left: 10vw;
    }

    .mini_rectangles {

        display: flex;
        flex-direction: row;

        .profile_rectangle {

            display: flex;
            flex-direction: row;
            /* left: 15vw; */
            // padding-bottom: 50px;
            background-color: #f7f5f4;
            margin-top: calc(17vh);
            // padding-left: 15vw;
            z-index: 100;
            border-top-right-radius: 150px;
            width: 25vw;
            height: 13vh;
            // position: absolute;

            /* margin-top: 500px; */




            .disp_img {
                // background-image: url(../../assets/Camera.svg);
                display: flex;
                /* position: fixed; */
                justify-content: center;
                align-items: center;
                /* margin-left: 570px; */
                /* gap: 10px; */
                flex-direction: column;
                width: 100px;
                height: 13vh;
                position: absolute;

                opacity: 0.3;

                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                /* border-radius: 5px; */
                // clip-path: circle();
                /* border: 2px solid black; */

                

                img{
                    width: 50px;
                }

            }

                .disp_img_other{

                    opacity: 1;
                    // margin-right: -100%;
                    position: relative;
                    margin-top: 13px;
                    margin-left: 13px;
                }


            

            .except_image {
                display: flex;
                flex-direction: column;
                /* padding-bottom: 20px; */
                padding-left: 25px;
                padding-top: 34px;
                align-items: center;
                text-align: left;
                // margin: 0;


                .startup_name {
                    font-size: 18px;
                    font-weight: 550;
                    margin: 0;
                    width: 220px;
                }

                

                .industry_name {
                    font-size: 15px;
                    margin: 0;
                    width: 160px;
                }

            }
        }

        .gst_rectangle {

            display: flex;
            flex-direction: row;
            /* left: 15vw; */
            // padding-bottom: 50px;
            background-color: white;
            margin-top: calc(20vh);
            margin-left: 25vw;
            z-index: 200;
            border-top-left-radius: 150px;
            width: 10vw;
            height: 10vh;
            // right: 20vw;
            left: 50vw;

            .icon1 {
                background-image: url(../../assets/icon1.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 50px;
                height: 50px;
                z-index: 300;
                // margin-left: 27vw;
                margin-top: 25px;
                margin-left: 35px;
            }

            .icon2 {
                background-image: url(../../assets/icon2.png);

                background-repeat: no-repeat;
                background-size: cover;
                width: 50px;
                height: 50px;
                z-index: 300;
                margin-top: 25px;

            }


        }

    }


    .user_info {

        display: flex;
        flex-direction: row;
        padding-top: 4vh;
        padding-left: 15px;

        .about_us {
            // margin: 0;

            max-width: 40vw;

            p {
                margin: 0;
            }

            h3 {
                margin: 0;
            }
        }

        .personal_details {

            display: flex;
            flex-direction: column;
            padding-left: 4vw;
            justify-content: space-between;
            max-height: 150px;

            .personal_single {
                display: flex;
                flex-direction: row;

                p {
                    margin: 0;
                    padding-left: 8px;
                }

                a {
                    text-decoration: none;
                    margin: 0;
                    padding-left: 8px;
                }
            }
        }
    }

    .info_boxes {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 50vw;
        padding-top: 3vh;
        margin-left: 15px;

        .boxes {

            border: 2px hidden;
            // border-top: 1px solid black;
            padding-top: 20px;
            // padding-bottom: 10px;
            // background-color: #f26522;
            background-color: rgba($color: #f26522, $alpha: 0.15);
            border-radius: 3px;
            max-width: 95px;
            min-width: 70px;
            // height: 90px;

            .box_content {

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h2 {
                    margin: 0;
                    // align-items: center;
                    text-align: center;
                    padding-bottom: 30px;
                }

                h6 {
                    margin: 0;
                    border-top: 1px solid orange;
                    background-color: rgba($color: #f26522, $alpha: 0.50);
                    font-size: 12px;
                    // margin-top: 20px;
                    // padding-bottom: 0;

                }
            }
        }

    }

    .extrainfo{

        margin-top: 20px;
        margin-left: 15px;

        .onefield{

            display: flex;
            flex-direction: row;
            margin-bottom: 10px;

            input{
                border-top: none;
                border-left: none;
                border-right: none;
            }
            
        h5{
            margin: 0;
            // margin-top: 8px;
            margin-right: 70px;
            justify-content: right;
            width: 120px;
        }

        h6{
            margin: 0;
            font-size: 15px;
            text-decoration: underline;
        }
    }
    }
    
    .keyteam {
        margin: 0;
        padding-top: 4vh;
         padding-left: 10px;
        // padding-bottom: 10vh;
    }

    .team {
        display: flex;
        flex-direction: row;
        padding-top: 3vh;
        justify-content: space-between;
        max-width: 30vw;
        padding-bottom: 7vh;
         margin-left: 15px;

        .total_member {

            display: flex;
            flex-direction: row;

            .team_member {
                width: 50px;
                height: 50px;
                border: solid white;
                border-radius: 100%;
                // background-color: rgb(187, 186, 186);
                background-repeat: no-repeat;
                background-size: cover;
            }

            .image1 {
                background-image: url('../../assets/Group\ 21.svg');
            }

            .image2 {
                background-image: url('../../assets/Group\ 21.svg');
            }

            .image3 {
                background-image: url('../../assets/Group\ 21.svg');
            }

            .text_member {


                p {
                    margin: 0;

                }

                .member_name {
                    // margin-top: 7px;
                    width: 70px;
                }

                .member_post{
                    width: 80px;
                }
            }
        }
    }

    .market_header{
        margin-left: 15px;

        h3{
            margin-top: 0;
        }
    }

    .prof_market {
        display: flex;
        flex-direction: row;
        max-width: 48vw;
        justify-content: space-between;
        padding-bottom: 20px;
        // margin-bottom: 3px;
        margin-left: 15px;

        .oneimg {

            background-size: cover;
            display: flex;
            flex-direction: column;
            border: 1px solid #c4c4c4;
            margin-left: 3px;
            margin-right: 3px;


            .plus{
                
                cursor: pointer;
                background-color:  rgba( #f26522 , 0.15);

                img{
                    height: 224px;
                }
            }

            

            .writeup {

                border-top: 1px solid #c4c4c4;
                background-color: rgba( #f26522 , 0.15);

                p {
                    margin: 0;
                    text-align: center;
                }
            }


            img {
                width: 160px;
                height: 190px;

            }

        }
    }


    .expand{

        
        display: grid;
        grid-template-columns: auto auto auto auto;
        // visibility: hidden;
        max-width: 49vw;
        margin-left: 15px;
        
        


        .oneimg {

            background-size: cover;
            display: flex;
            flex-direction: column;
            border: 1px solid #c4c4c4;
            margin-left: 3px;
            margin-right: 25px;
            margin-bottom: 15px;


            

            .writeup {

                border-top: 1px solid #c4c4c4;
                background-color: rgba( #f26522 , 0.15);

                p {
                    margin: 0;
                    text-align: center;
                }
            }


            img {
                width: 160px;
                height: 190px;

            }

        }
    
}

    .moreexpand{
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        margin-bottom: 40px;
        margin-left: 45vw;
        cursor: pointer;

        p{
            margin: 0;
            margin-right: 5px ;
            
        }

        img{
            height: 10px;
            margin-top: 5px;

        }
    }
}






.connections {
    position: fixed;
     right: 5vw;
    // padding-bottom: 300px;
    top: 10vh;
    // bottom: 20vh;
    
}

a{
    text-decoration: none;
    color: unset;
}