<!-- the carousel class for now is just a single image  -->
<!-- it will later on be changed and turned into a carousel. this is just for 17 May presentation -->
<div class="main">

  <div class="carousel">
    <!-- <img src="../../assets/orange_bg.jpg" alt=""> -->
  </div>


  <div class="container">

  <div class="right_images">

    <div class="image1">
      <img src="../../assets/startup_logo.jpg" alt="BoB 1" height="100">
    </div>

    <div class="image2">
      <img src="../../assets/Logo.png" alt="BoB 2" height="100">
    </div>


  </div>
    <form action="#">
      <div class="title">Login</div>
      <div class="input-box underline">
        <input type="text" placeholder="Enter Your Username" required>

      </div>
      <div class="input-box underline">
        <input type="password" placeholder="Enter Your Password" required>

      </div>
      <!-- <div class="input-box underline">
        <input type="number" placeholder="Enter OTP" required>

      </div> -->
      <button class="nextBtn">
        <span class="btnText"> <a href="feed">Continue </a></span>
        <i class="uil uil-navigator"></i>
      </button>


      <div class="signup-link">Not a member? <a href="reg">Signup now</a></div>
    </form>
  </div>

</div>