<!-- the carousel class for now is just a single image  -->
<!-- it will later on be changed and turned into a carousel. this is just for 17 May presentation -->
<div class="main">

  <div style="background-image: url(../../assets/Frame\ 54.svg) ;" class="carousel">
    <!-- <img src="../../assets/orange_bg.jpg" alt=""> -->
    <!-- <img src="../../assets/BOB-Logo 1.svg" alt=""> -->
  </div>


  <div class="container">

  <div class="right_images">

    <div class="image1">
      <img src="../../assets/CRN 126 Orbit Startup portal logo_c2c.jpg" alt="BoB 1" height="100">
    </div>

    <!-- <div class="image2">
      <img src="../../assets/Logo.png" alt="BoB 2" height="100">
    </div> -->


  </div>
    <form action="#">


      <div class="gsignin">
      <img src="../../assets/google-signin-button-1024x260.png" alt="">
      </div>
      <!-- <div class="title">Login</div> -->


      <p class="or">OR</p>

      <div class="input-box underline">
        <input type="text" [(ngModel)]="username" placeholder="Enter Your Username" name="username" required>

      </div>
      <div class="input-box underline">
        <input type="password" [(ngModel)]="password" placeholder="Enter Your Password" name="password" required>

      </div>
      <!-- <div class="input-box underline">
        <input type="number" placeholder="Enter OTP" required>

      </div> -->

      <div class="forgot">
        <p>Forgot password?</p>
      </div>

      <!-- <div *ngIf="employees" class="div-employee" >
        <div *ngFor="let employee of employees">
          
        </div>
      </div> -->
      <button (click)="submitted()" class="nextBtn"  >
        <!-- <span onclick="submit()" class="btnText"> <a href="feed">Continue </a></span> -->
        Login
      </button>

      <br>
      

      <div class="signup-link">Not a member? <a class="underliner" href="reg">Signup now</a></div>
    </form>
  </div>

</div>