.header{
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 999;
    
    border-bottom: 1px solid black;
    padding: 2px;
    background-color: white;
}

.header_left{
    display: flex;
    justify-content: space-evenly;
    padding-left: 100px;
}

.header_right img{
    object-fit: contain;
    height: 55px;
    
    margin: 0;
}

.header_right{
    display: flex;
    justify-content: space-evenly;
    padding-left: 650px;
    
}



.header_search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 20px;
    color: grey;
    background-color: #edeff3;
}

.header_search input{
    outline: none;
    border: none;
    background: none;
}

.header_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: blue;
    cursor: pointer;
}

.header_icon:hover{
    color: black;

}

.header_icon h3{
          font-size: 12px;
}