.header {
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 999;

    border-bottom: 1px solid black;
    padding: 1px;
    background-color: white;

    padding-left: 10vw;
    padding-right: 10vw;
    // max-width: 80vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

    .header_left {
        display: flex;
        justify-content: space-between;
        padding-left: 40px;
        width: 15vw;

        .image_left {

            padding-right: 30px;

            img {
                object-fit: contain;
                height: 55px;

                margin: 0;
            }
        }


        .header_search {
            padding: 10px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            border-radius: 55px;
            height: 15px;
            color: grey;
            background-color: #edeff3;


            input {
                outline: none;
                border: none;
                background: none;
            }

        }

        .header_icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 20px;
            color: #f26522;
            cursor: pointer;


            :hover {
                color: black;

            }

            h3 {
                font-size: 17px;
            }



        }
    }

    .header_middle {
        display: flex;
        justify-content: space-between;
        width: 35vw;
        padding-left: 4vw;
        padding-right: 3vw;

        .header_icon {

            padding-top: 14px;

            :hover{
                // background-color: rgba(#f26522,0.2);
            }

            .header_subicon {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 20px;
                color: #f26522;
                cursor: pointer;
                border: 1px solid white;
                border-radius: 20px;
                padding-left: 17px;
                padding-right: 17px;


                :hover {
                    color: black;
                    // background-color: #f26522;

                }

                h3 {
                    font-size: 17px;
                }

            }
        }


        .header_hover{

            padding-top: 14px;
            
            :hover{
                // background-color: rgba(#f26522,0.2);;
            }
        .header_icondrop {

            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 20px;
            // color: #f26522;
            cursor: pointer;
            // color: #121b5c;
            padding-left: 17px;
            padding-right: 17px;
            border: 1px solid white;
                border-radius: 20px;
                


            :hover {
                color: black;


            }

            h3 {
                font-size: 17px;
                // text-underline-position: auto;

            }


            .dropdown:hover .dropdown_content {
                visibility: unset;
            }

            .dropdown {

                position: relative;
                display: inline-block;
                // width: 30vw;

                :hover {

                    .dropdown_content {
                        visibility: visible;
                    }
                }


                .witharrow{

                    display: flex;
                    flex-direction: row;
                    
                     img{
                        width: 10px;
                        padding-left: 7px;
                     }
                }


                .dropdown_content {
                    // display: hidden;
                    // display: flex;
                    // flex-direction: row;
                    visibility: hidden;
                    position: absolute;
                    width: 30vw;
                    height: 50vh;
                    overflow: auto;
                    box-shadow: #f26522;
                    background-color: transparent;
                     background: transparent;
                    text-align: left;

                    a {
                        display: block;
                        color: #000000;
                        padding: 5px;
                        text-decoration: none;

                        :hover {
                            color: #FFFFFF;
                            background-color: #00A4BD;
                        }
                    }

                    .onecateg:hover .dropdown-menu {
                        display: inline-block;
                    }

                    .onecateg {
                        display: flex;
                        flex-direction: row;
                        // visibility: hidden;




                        .btn {
                            text-align: left;
                            min-width: 140px;
                            max-height: 40px;
                        }

                        .dropdown-menu {
                            max-height: 500px;
                            position: relative;
                            display: none;
                            // margin-left: 100px;
                            // max-height: 40px;
                            //  visibility: hidden;

                            // position: absolute;
                            //  overflow: auto;
                            //  overflow-wrap: normal;
                            background-color: white;
                            grid-auto-flow: row;

                            .grid {
                                display: grid;
                                grid-template-columns: 100px 100px 100px;


                                a {
                                    display: block;
                                    color: #000000;
                                    padding: 5px;
                                    text-decoration: none;
                                }

                                :hover {
                                    color: red;
                                    // background-color: #00A4BD;
                                }

                            }


                        }



                    }

                }


            }

        }
    }
    }


    .header_right {
        display: flex;
        justify-content: space-between;
        padding-left: 70px;
        width: 20vw;
        padding-right: 40px;

        // .header_icon {
        //     display: flex;
        //     flex-direction: row;
        //     align-items: center;
        //     margin-right: 20px;
        //     color: #f26522;
        //     cursor: pointer;


        //     :hover {
        //         color: black;

        //     }

        //     h3 {
        //         font-size: 17px;
        //         margin: 0;
        //         padding-top: 17px;
        //     }

        //     .witharrow{

        //         display: flex;
        //             flex-direction: row;
                    
        //              img{
        //                 width: 10px;
        //                 padding-left: 7px;
        //              }

        //     }

        // }

        
        .header_hover{

            padding-top: 14px;
            
            :hover{
                // background-color: rgba(#f26522,0.2);;
            }
        .header_icondrop {

            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 20px;
            // color: #f26522;
            cursor: pointer;
            // color: #121b5c;
            padding-left: 17px;
            padding-right: 17px;
            border: 1px solid white;
                border-radius: 20px;
                


            :hover {
                color: black;


            }

            h3 {
                font-size: 17px;
                // text-underline-position: auto;

            }


            .dropdown:hover .dropdown_content {
                visibility: unset;
            }

            .dropdown {

                position: relative;
                display: inline-block;
                // width: 30vw;

                :hover {

                    .dropdown_content {
                        visibility: visible;
                    }
                }


                .witharrow{

                    display: flex;
                    flex-direction: row;
                    
                     img{
                        width: 10px;
                        padding-left: 7px;
                     }
                }


                .dropdown_content {
                    // display: hidden;
                    // display: flex;
                    // flex-direction: row;
                    visibility: hidden;
                    position: absolute;
                    width: 30vw;
                    height: 50vh;
                    overflow: auto;
                    box-shadow: #f26522;
                    background-color: transparent;
                     background: transparent;
                    text-align: left;

                    a {
                        display: block;
                        color: #000000;
                        padding: 5px;
                        text-decoration: none;

                        :hover {
                            color: #FFFFFF;
                            background-color: #00A4BD;
                        }
                    }

                    .onecateg:hover .dropdown-menu {
                        display: inline-block;
                    }

                    .onecateg {
                        display: flex;
                        flex-direction: row;
                        // visibility: hidden;




                        .btn {
                            text-align: left;
                            min-width: 140px;
                            max-height: 40px;
                        }

                        .dropdown-menu {
                            max-height: 500px;
                            position: relative;
                            display: none;
                            // margin-left: 100px;
                            // max-height: 40px;
                            //  visibility: hidden;

                            // position: absolute;
                            //  overflow: auto;
                            //  overflow-wrap: normal;
                            background-color: white;
                            grid-auto-flow: row;

                            .grid {
                                display: grid;
                                grid-template-columns: 100px 100px 100px;


                                a {
                                    display: block;
                                    color: #000000;
                                    padding: 5px;
                                    text-decoration: none;
                                }

                                :hover {
                                    color: red;
                                    // background-color: #00A4BD;
                                }

                            }


                        }



                    }

                }


            }

        }
    }

        .profile_circle {

            /* clip-path: circle(); */
            width: 50px;
            height: 50px;
            border: solid white;
            border-radius: 100%;
            background-color: rgb(187, 186, 186);
            background-repeat: no-repeat;
            background-size: cover;
            // padding-right: 80px;

        }




        img {
            // padding-left: 50px;
            object-fit: contain;
            height: 55px;

            margin: 0;
        }

    }

    .header_image {

        img {
            height: 25px;
            margin-right: 5px;
        }
    }

    h3 {
        margin: 0;
        // font-size: 5px;
        color: black;
        text-decoration: none;
        font-weight: 200;

    }

    a {
        text-decoration: none;
    }

    // the above h3 scss is only for the ones that are in the name of the header section. change if required later

}