<div class="header">


  <div class="header_left">

    <div class="image_left">
      <img src="../../assets/Bank_of_Baroda_logo_PNG2 3.png" alt="Logo1">

    </div>

    <div class="header_search">

      <div class="header_image">
        <img src="../../assets/MagnifyingGlass.png" alt="">
      <!-- <i class="material-symbols-outlined">
        search
      </i> -->
      </div>
      <input type="text" placeholder="Search">
    </div>

  </div>

  
   

    

   
  <div class="header_middle">

    <div class="header_icon">
      
      <div class="header_subicon">

<!-- now i am trying to define a variable such that after clicking home page, we will have an orange backkground for it -->

        
         



      <a href="feed">
        <div class="header_image">
          <img src="../../assets/House.jpg" alt="">
        <!-- <i class="material-symbols-outlined">

          feed
        </i> -->
        </div>
      </a>
      <a href="feed">
        <h3>Home</h3>
      </a>
      </div>
    </div>

    <div class="header_icon">
      <div class="header_subicon">
      <a href="mssg">
        <div class="header_image">
          <img src="../../assets/Chats.png" alt="">
        <!-- <i class="material-symbols-outlined">
          chat
        </i> -->
        </div>
      </a>
      <a href="mssg">
        <h3>Messages</h3>
      </a>
      </div>
    </div>


    <div class="header_hover">
    <div class="header_icondrop">
      <!-- <a href=""> -->
        
        <div class="header_image">
        <!-- <i class="material-symbols-outlined">
          grid_view
        </i> -->
               <img src="../../assets/SquaresFour.png" alt="">
        </div>
      <!-- </a> -->
      <!-- </a> <a href=""> -->
        <div class="dropdown">
          <div class="witharrow">
        <h3>Resources</h3>
        <img style="height: 15px;" class="vector" src="../../assets/Vector.svg" alt="">
          </div>
        <div class="dropdown_content">
          <div class="onecateg">
          <div type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><a href="news"> News Section </a></div>
          </div>
          <div class="onecateg">
              <div type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"> <a href="know">  Knowlege Section </a></div>

        </div>
        <!-- <div class="onecateg">
              <div type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><a href="vc"> VC Section </a></div>
              </div> -->

              <div class="onecateg">
                <div type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><a href="banking"> Banking Solutions </a></div>
                </div>
        </div>

        
    </div>
  </div>
    </div>

    <div class="header_hover">
    <div class="header_icondrop">
      <!-- <a href="market"> -->

        <div class="header_image">
          <img src="../../assets/Storefront.png" alt="">
        <!-- <i class="material-symbols-outlined">
          attach_money
        </i> -->
        </div>

      <!-- </a> -->
      <div class="dropdown">
        <!-- <a href="market"> -->
          <div class="witharrow">
          <h3>Marketplace</h3>
          <img style="height: 15px;" src="../../assets/Vector.svg" alt="">
        </div>
        <!-- </a> -->
        <div class="dropdown_content">


          <div *ngIf="catdata">
            <div *ngFor="let ctg of catdata" class="cat_post">

          <div class="onecateg">
            <div type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">{{ctg.name}}</div>
            <div class="dropdown-menu">
              <!-- Dropdown menu links -->
    
                     <div class="grid">

                      
          <div *ngIf="subcatfetched">
            <div *ngFor="let subctg of ctg.subcategories" class="subcat_post">

              
               <a [href]="'market?subcategory=' + subctg" >{{subctg}} </a>
              <!-- <a href="market">Cashew</a>
              <a href="market">Dairy</a>
              <a href="market">Coffee</a>
              <a href="market">Pig Farming</a>
              <a href="market">Poultry</a>
              <a href="market">Spices</a> -->

            </div>
          </div>
              <!-- <a href="market">Link 8</a>
              <a href="market">Link 9</a>
              <a href="market">Link 10</a>
              <a href="market">Link 11</a>
              <a href="market">Link 12</a> -->

            </div>
            </div>
          </div>

            </div>
          </div>



          
        </div>
      </div>
    </div>
    </div>

    <!-- from now on is the code for the dropdown menu
      the one below till the add product option is dropdown for marketplace -->


      <div class="header_hover">
        <div class="header_icondrop">
          <!-- <a href=""> -->
            
            <div class="header_image">
            <!-- <i class="material-symbols-outlined">
              grid_view
            </i> -->
                  
            </div>
          <!-- </a> -->
          <!-- </a> <a href=""> -->
            <div class="dropdown">
              <div style="margin-top: 4px;" class="witharrow">
            <h3>Profile</h3>
            <img style="height: 15px;" src="../../assets/Vector.svg" alt="">
              </div>
            <div class="dropdown_content">
              <div class="onecateg">
              <div type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><a href="profile"> Profile </a></div>
              </div>
              <div class="onecateg">
                  <div type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"> <a href="store"> Store </a></div>
    
            </div>

            <div class="onecateg">
              <div type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"> <a href="cart"> Cart </a></div>

        </div>
            <div class="onecateg">
                  <div type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><a href="posts"> Posts </a></div>
                  </div>

                  
            <div class="onecateg">
              <div type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><a href="friends"> Connections </a></div>
              </div>
    
                  <div class="onecateg">
                    <div type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><a href="https://www.bankofbaroda.in/contact-us" target="_blank"> Help </a></div>
                    </div>
  
                    
    
                  <div class="onecateg">
                    <div type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><a href="settings"> Settings </a></div>
                    </div>
  
                    
    
                  <div class="onecateg">
                    <div type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" (click)="clear()" ><a href="login"> Signout </a></div>
                    </div>
            </div>
    
            
        </div>
      </div>
        </div>

       <a href="notif"> <img style="height: 25px; margin-top:10px; " src="../../assets/BellRinging.svg" alt=""> </a>
  
  
      <!-- <div [ngStyle]="{backgroundImage: 'url(https://bob.anujagrawal.co.in' + pic + ')'}" class="profile_circle"></div> -->
  
      <img src="../../assets/CRN 126 Orbit Startup portal logo_c2c.jpg" width="250px" alt="Logo2">
  
  
    <!-- </div> -->
  



  </div>

  <!-- <div class="header_right"> -->
<!-- 
    <div class="header_icon">
      <a href="profile">
       
    

        <div class="witharrow">
        <h3>My Profile</h3>
        <img src="../../assets/Vector.svg" alt="">
      </div>
      </a>
    </div>
 -->

    
   
</div>