

<div class="footer">
  <div class="left">
   
  <h4>Subscribe to our newsletter</h4>

  <div class="input">

    <input class="email" type="text" value="Email" > 

    <button type="button" class="submit">Submit</button>
  </div>

  <div class="policy">
    <h5>Cookie Policy</h5>
    <h5>Disclaimer</h5>
    <h5>Privacy Policy</h5>
    <h5>Terms & Conditions</h5>
  </div>
  </div>

  <div class="middle">

    <img src="../../assets/entypo-social_facebook-with-circle.svg" alt="">
    <img src="../../assets/entypo-social_instagram-with-circle.svg" alt="">
    <img src="../../assets/Vector (2).svg" alt="">
    <img src="../../assets/entypo-social_linkedin-with-circle.svg" alt="">
    <img src="../../assets/entypo-social_youtube-with-circle.svg" alt="">
    <img src="../../assets/Subtract.svg" alt="">
  </div>

  <div class="right">

    <h4>Bank of Baroda Group</h4>

    <div class="inrow">

      <p>Group Websites</p>

      <p style="margin-left: 30px;">Country Websites</p>
    </div>

    <h4>Copyright © 2022 Bank of Baroda. All rights reserved</h4>
  </div>
  </div>