.footer{
    background-color: #162B75;

    display: flex;
    flex-direction: row;
    height: 19vh;
    .left{
        width: 35vw;
        margin-left: 40px;

        h4{
            margin: 0;
            color: white;
            margin-top: 15px;
            margin-bottom: 20px;
            
        }

        .input{

            .email{
                border-radius: 20px;
                 padding: 10px;
            }
            .submit{
            border-radius: 20px;
             padding: 10px;
             background-color: #F26522;
            }

        }

        .policy{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 25px;

            h5{
                margin: 0;
                color: white;
            }
        }
    }

    .middle{

        display: flex;
        flex-direction: row;
        width: 30vw;
        margin-top: 15px;
        margin-left: 25px;

        img{
            width: 70px;
            height: 70px;
        }
    }

    .right{
        width: 35vw;
        margin-top: 15px;
        margin-left: 75px;

        h4{
            margin: 0;
            color: white;
        }

        .inrow{
            display: flex;
            flex-direction: row;

            p{
                color: grey;
                padding: 18px;
                border: 1px solid white;
                border-radius: 280px;
            }
        }
    }
}