<!-- the carousel class for now is just a single image  -->
<!-- it will later on be changed and turned into a carousel. this is just for 17 May presentation -->
<div class="main">

    <div class="carousel">
      <!-- <img src="../../assets/orange_bg.jpg" alt=""> -->
    </div>
  
  
    <div class="container">
  
    <div class="right_images">
  
      <div class="image1">
        <img src="../../assets/startup_logo.jpg" alt="BoB 1" height="100">
      </div>
  
      <div class="image2">
        <img src="../../assets/Logo.png" alt="BoB 2" height="100">
      </div>
  
  
    </div>
      <form action="#">
        <div class="title">Login</div>
        <div class="input-box underline">
          <input type="text" [(ngModel)]="username" placeholder="Enter Your Username" name="username" required>
  
        </div>
        <div class="input-box underline">
          <input type="password" [(ngModel)]="password" placeholder="Enter Your Password" name="password" required>
  
        </div>
        <!-- <div class="input-box underline">
          <input type="number" placeholder="Enter OTP" required>
  
        </div> -->
  
        <!-- <div *ngIf="employees" class="div-employee" >
          <div *ngFor="let employee of employees">
            
          </div>
        </div> -->
        <button (click)="submitted()" class="nextBtn"  >
          <!-- <span onclick="submit()" class="btnText"> <a href="feed">Continue </a></span> -->
          Proceed
        </button>
  
  
        <div class="signup-link">Not a member? <a href="reg">Signup now</a></div>
      </form>
    </div>
  
  </div>
