<app-header ></app-header>


<div class="whole">
<div class="filter_section">

    <h3>Filters</h3>

    <h4>Price</h4>

    <div class="checkbox">
    <div class="text_box"><input type="checkbox" name="group_one"> 500-1000 per unit </div>
    <div class="text_box"><input type="checkbox" name="group_one"> 1000-2000 per unit </div>
    <div class="text_box"><input type="checkbox" name="group_one"> 2000-3000 per unit </div>
    <div class="text_box"><input type="checkbox" name="group_one"> >3000 per unit </div>
    <!-- <div class="text_box"><input type="radio" name="group_one"> 1st criteria </div> -->
    </div>
<!-- 
    <h4>Company Turnover</h4>
    <div class="checkbox">
        <div class="text_box"><input type="checkbox" name="group_two"> >100 crores </div>
        <div class="text_box"><input type="checkbox" name="group_two"> >500 crores </div>
        <div class="text_box"><input type="checkbox" name="group_two"> >1000 crores </div>
        
        </div> -->

        <h4>Minimum Units</h4>
    <div class="checkbox">
        <div class="text_box"><input type="checkbox" name="group_three"> >100 </div>
        <div class="text_box"><input type="checkbox" name="group_three"> >1000 </div>
        <div class="text_box"><input type="checkbox" name="group_three"> >10000 </div>
        
        </div>

</div>



<div class="market">
                     

    <div *ngIf="marketdata">
        <div *ngFor="let pro of marketdata" class="feed_post">

    <div class="product" (click)="redirect(pro.id, pro.price, pro.file, pro.name, pro.description, pro.long_description, pro.user.username, pro.user.profile_pic, pro.subcategory.name, pro.subcategory.category.name)">

        <div [ngStyle]="{backgroundImage: 'url(https://bob.anujagrawal.co.in' + pro.file + ')'}" class="prod_image"></div>
         <div class="oneproduct">
                   <h4 class="firstline">{{pro.name}}</h4>
                   <h6>Boat</h6>
                   <h4>{{pro.price}} per unit </h4>
                   

                   <p>{{pro.description}} </p>
         </div>
    </div>
   
</div>

</div>

</div>
</div>

<app-footer></app-footer>