<app-header></app-header>


<div class="whole">
<div class="filter_section">

    <h3>Filters</h3>

    <h4>Price</h4>

    <div class="checkbox">
    <div class="text_box"><input type="radio" name="group_one"> 500-1000 per unit </div>
    <div class="text_box"><input type="radio" name="group_one"> 1000-2000 per unit </div>
    <div class="text_box"><input type="radio" name="group_one"> 2000-3000 per unit </div>
    <div class="text_box"><input type="radio" name="group_one"> >3000 per unit </div>
    <!-- <div class="text_box"><input type="radio" name="group_one"> 1st criteria </div> -->
    </div>

    <h4>Company Turnover</h4>
    <div class="checkbox">
        <div class="text_box"><input type="radio" name="group_two"> >100 crores </div>
        <div class="text_box"><input type="radio" name="group_two"> >500 crores </div>
        <div class="text_box"><input type="radio" name="group_two"> >1000 crores </div>
        
        </div>

        <h4>Minimum Units</h4>
    <div class="checkbox">
        <div class="text_box"><input type="radio" name="group_three"> >100 </div>
        <div class="text_box"><input type="radio" name="group_three"> >1000 </div>
        <div class="text_box"><input type="radio" name="group_three"> >10000 </div>
        
        </div>

</div>



<div class="market">
                     
    <div class="product">

        <div class="prod_image image1"></div>
         <div class="oneproduct">
                   <h4>Headphones Model #256463</h4>
                   <h6>Boat</h6>
                   <h4>Rs.5299</h4>

                   <p>Best-quality red-colored earphones with soft padding. Also has surround sound and other premium features</p>
         </div>
    </div>
   
    <div class="product">

        <div class="prod_image image2"></div>
         <div class="oneproduct">
                   <h4>Gaming Headphones Model #67483269</h4>
                   <h6>GamingFun</h6>
                   <h4>Rs.3700</h4>

                   <p>Light-weight pink-colored gaming headphones that enhance the experience of PC gaming, making you feel you are in the game</p>
         </div>
    </div>

    <div class="product">

        <div class="prod_image image3"></div>
         <div class="oneproduct">
                   <h4>Gaming Headphones + Headset</h4>
                   <h6>HearSay</h6>
                   <h4>Rs.2100</h4>

                   <p>Black headphones with surround sound and premium features. Any other description that the statrup wants to add can be added here.</p>
         </div>
    </div>

    <div class="product">

        <div class="prod_image image4"></div>
         <div class="oneproduct">
                   <h4>Headphones model #892659348</h4>
                   <h6>ComfortSound</h6>
                   <h4>Rs.3,600</h4>

                   <p>Black headphones with surround sound and premium features. Any other description that the statrup wants to add can be added here.</p>
         </div>
    </div>

    <div class="product">

        <div class="prod_image image5"></div>
         <div class="oneproduct">
            <h4>Headphones Model #256463</h4>
            <h6>Boat</h6>
            <h4>Rs.5299</h4>

            <p>Best-quality red-colored earphones with soft padding. Also has surround sound and other premium features</p>
         </div>
    </div>

    <div class="product">

        <div class="prod_image image6"></div>
         <div class="oneproduct">
            <h4>Headphones Model #256463</h4>
            <h6>Boat</h6>
            <h4>Rs.5299</h4>

            <p>Best-quality red-colored earphones with soft padding. Also has surround sound and other premium features</p>
         </div>
    </div>
         
</div>

</div>