<!-- <div class="dropdown"> -->

   
  
    <div class="categories">

        <h2>Categories</h2>

<div class="dropdown">
    <button class="dropbtn">Agriculture</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Beauty</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Business</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Music</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Real Estate</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>



 <div class="add_products">

    <h2>Add New Product</h2>
 </div>

    <a href="">Upload Image</a>
    <input type="text" placeholder="Product Title">
    <input type="text" placeholder="Price">
    <input type="text" placeholder="Minimum Units">
    <input type="text" placeholder="Description">

</div> 