<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="registration-page.component.css">

    <title>Reg Form</title>
</head>
<body>
    <div class="container">
        <header>Registration</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text"  placeholder="Enter your name" required>
                        </div>

                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date"  placeholder="Enter birth date" required>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" required>
                        </div>

                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" required>
                        </div>

                        <div class="input-field">
                            <label>Gender</label>
                            <select required>
                                <option disabled selected>Select gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Business Name</label>
                            <input type="text" placeholder="Name of business" required>
                        </div>
                    </div>
                </div>

                <div class="details ID">
                    <span class="title">User ID Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Username</label>
                            <input type="text" placeholder="Enter Username" required>
                        </div>

                        <div class="input-field">
                            <label>Password</label>
                            <input type="password" placeholder="Enter password" required>
                        </div>

                        <div class="input-field">
                            <label>Password confirmation</label>
                            <input type="password" placeholder="Re-enter password" required>
                        </div>

                        <div class="input-field">
                            <label>Undecided 1</label>
                            <input type="text" placeholder="." required>
                        </div>

                        <div class="input-field">
                            <label>Undecided 2</label>
                            <input type="text" placeholder="." required>
                        </div>

                        <div class="input-field">
                            <label>Undecided 3</label>
                            <input type="text" placeholder="." required>
                        </div>
                    </div>

                    <button class="nextBtn"> <a href="login">
                        <span class="btnText"> Get Started</span>
                        <i class="uil uil-navigator"></i>
                    </a>
                    </button>
                </div> 
            </div>

            
               
        </form>
    </div>
</body>
</html>