body{
    /* display: grid; */
    /* height: 100vh;
    width: 100% ; */
    place-items: center;
    background: #fff;
  }
  ::selection{
    background: #fff;
  
  }

.main {
  display: flex;
  height: 100%;
}

  
.carousel{
  // background-image: url(../../assets/orange_bg.jpg);
  background-color: #f26522;
  height: 100vh;
  width: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 2vw 0 0 ;

  .illus{

    display: flex;
    flex-direction: column;
    margin-top: 20px;

   img{
    margin-left: 12px;
   }
  }
}

  .right_images{
    display: flex;
    position: absolute;
    flex-direction: row;
    right: 2vw;
    top: 1vw;
    justify-content: end;
   
     .image1{

      img{
        height: 84px;
        // width: 124px;
      }
     }
  }


  .underliner{
    text-decoration: underline;
    color: rgb(0, 153, 255);
  }

  .container{
    background: #fff;
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 2vw 10vw;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  }
  .container form .title{
    font-size: 30px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px 0 10px 0;
    position: relative;
  }
  .container form .title:before{
    content: '';
    position: absolute;
    height: 4px;
    width: 33px;
    left: 0px;
    bottom: 3px;
    border-radius: 5px;
    background: white;
  }
  .container form .input-box{
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
  }
  .container form .input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
  }
  .container form .underline::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
  }
  .container form .underline::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
  }
  .container form .input-box input:focus ~ .underline::after,
  .container form .input-box input:valid ~ .underline::after{
    transform: scaleX(1);
    transform-origin: left;
  }
  .container form .button{
    margin: 40px 0 20px 0;
  }
  
  .nextBtn {
    background-color: #162b75;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin-top: 2vw;
    color: white;
    border: none;
    font-size: 1vw;
  }

  .signup-link {
    margin-top: 1vw;
  }

  a {
    text-decoration: none;
    color: unset;
  }

  .input-box {

    font-family: Arial, Helvetica, sans-serif;
  }

  .forgot{
          text-align: right;
          cursor: pointer;
  }

  .gsignin{

    // box-shadow: #162B75;

    img{
      width: 200px;
      margin-left: 152px;
      cursor: pointer;
      // box-shadow: 5px 10px grey;
    }
  }

  .container .option{
    font-size: 14px;
    text-align: center;
  }

  #img {
    height: 20px;
    width: 20px;
  }

  .or{
    text-align: center;
  }

  /* code for carousel only */
  
  /* .carousel{
    position: relative;
    height: 500px ;
    width: 60% ;
    margin: 0 auto;
  }

  .carousel_image{
    width: 100%;
    object-fit: cover;
  }

  .carousel_track-container{
    
  }

  .carousel_track{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .carousel_slide{
    position: absolute;
    width: 100%;
  } */
/* 
  html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
    background: #74C390;
}

.item:nth-child(2) {
    background: #51BCE8;
}

.item:nth-child(3) {
    background: #E46653;
} */



