<app-header></app-header>

<div class="topic">
<div class="head">
    <h2>My Store</h2>
</div>


<div class="addpro">
    <a href="addpr"><button>Add Product </button> </a>
</div>
</div>

<div class="prof_market">


    <div *ngIf="marketdata">
        <div *ngFor="let prod of marketdata" class="feed_post">
    <div class="oneimg" (click)="redirect(prod.id, prod.price, prod.file, prod.name, prod.description, prod.long_description, prod.user.username, prod.user.profile_pic, prod.subcategory.name, prod.subcategory.category.name)">
    
    
             <div [ngStyle]="{backgroundImage: 'url(https://bob.anujagrawal.co.in' + prod.file + ')'}" class="img" >
             <div class="writeup">
             <p>{{prod.name}}</p>
             <p>₹{{prod.price}}/unit</p>
            </div>
    </div>

        </div>

        </div>
    </div>
    </div>
    <!-- <div class="oneimg">
        <img src="../../assets/download.headphones.jpg" alt="">
        <div class="writeup">
        <p>Product Name</p>
        <p>Info/price</p>
    </div>
    </div>
    <div class="oneimg">
        <img src="../../assets/JBL-Free-WFH-Headphones-and-Headsets-492338532-i-1-1200Wx1200H-300Wx300H.jpg" alt="">
        <div class="writeup">
            <p>Product Name</p>
            <p>Info/price</p>
        </div>
    </div>

    <div class="oneimg">
        <img src="../../assets/bluetooth-headphones-500x500-1.jpg" alt="">
        <div class="writeup">
        <p>Product Name</p>
        <p>Info/price</p>
       </div>
</div> -->
<!-- <div class="oneimg">
   <img src="../../assets/download.headphones.jpg" alt="">
   <div class="writeup">
   <p>Product Name</p>
   <p>Info/price</p>
</div>
</div>
<div class="oneimg">
   <img src="../../assets/JBL-Free-WFH-Headphones-and-Headsets-492338532-i-1-1200Wx1200H-300Wx300H.jpg" alt="">
   <div class="writeup">
       <p>Product Name</p>
       <p>Info/price</p>
   </div>
</div> -->


   

