<app-header></app-header>

<div class="topic">
<div class="head">
    <h2>My Store</h2>
</div>


<div class="addpro">
    <a href="addpr"><button>Add Product </button> </a>
</div>
</div>

<div class="prof_market">

    
    <div class="oneimg">
             <img src="../../assets/bluetooth-headphones-500x500-1.jpg" alt="">
             <div class="writeup">
             <p>Product Name</p>
             <p>Info/price</p>
            </div>
    </div>
    <div class="oneimg">
        <img src="../../assets/download.headphones.jpg" alt="">
        <div class="writeup">
        <p>Product Name</p>
        <p>Info/price</p>
    </div>
    </div>
    <div class="oneimg">
        <img src="../../assets/JBL-Free-WFH-Headphones-and-Headsets-492338532-i-1-1200Wx1200H-300Wx300H.jpg" alt="">
        <div class="writeup">
            <p>Product Name</p>
            <p>Info/price</p>
        </div>
    </div>

    <div class="oneimg">
        <img src="../../assets/bluetooth-headphones-500x500-1.jpg" alt="">
        <div class="writeup">
        <p>Product Name</p>
        <p>Info/price</p>
       </div>
</div>
<div class="oneimg">
   <img src="../../assets/download.headphones.jpg" alt="">
   <div class="writeup">
   <p>Product Name</p>
   <p>Info/price</p>
</div>
</div>
<div class="oneimg">
   <img src="../../assets/JBL-Free-WFH-Headphones-and-Headsets-492338532-i-1-1200Wx1200H-300Wx300H.jpg" alt="">
   <div class="writeup">
       <p>Product Name</p>
       <p>Info/price</p>
   </div>
</div>


   
</div>
