.topic{

    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 10vw;

.head{

    margin-top: 5px;
   h2{
    margin: 0;
   }
}

.addpro{
    margin-left: 64vw;
    

    a{
    text-decoration: none;
    color: unset;

      button{
        padding: 10px;
      }
    }
}

}

.prof_market {
    display: grid;
    flex-wrap: nowrap;
    
   
    margin-top: 20px;
    padding-bottom: 20px;
    // margin-bottom: 3px;
    margin-left: 10vw;
    margin-right: 10vw;
    
    grid-template-columns: auto auto auto auto auto;


    .oneimg {

        background-size: cover;
        display: flex;
        flex-direction: column;
        border: 1px solid #c4c4c4;
        margin-left: 3px;
        margin-right: 3px;

        margin-bottom: 20px;

        width: 198px;
        align-items: center;

            img{
                height: 224px;
                align-items: center;
                justify-self: center;
                align-self: center;
            }

            .choosefile{
                display: none;
            }
        }

        

        .writeup {

            border-top: 1px solid #c4c4c4;
            background-color: rgba( #f26522 , 0.15);
            width: 198px;

            p {
                margin: 0;
                text-align: center;
            }
        }


        img {
            width: 160px;
            height: 190px;

        }

    }


