.grid_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 100px;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 360px;

    .item {

        //  padding: 20px;
        border: 1px solid #d9d9d9;
        margin-right: 18px;
        margin-bottom: 14px;


        .image{
             position: absolute;
             z-index: -10;
             background-repeat: no-repeat;
             background-size: contain;
             width: 300px;
             
             align-items: center;
             place-content: center;
             place-items: center;

             img{
             z-index: -10;
             align-items: center;
             place-content: center;
             place-items: center;
            //  width: 294px;
            //  height: 230px;
             
             }
        }

        .text_image{
            width: 150px;
            height: 50px;
              margin-bottom: 10px;
              z-index: 1000;
              background-color: white;
              border-top-right-radius: 400px;
              margin-top: 180px;

              h5,h6{
                margin: 0;
              }
        }

        .othertext{
            
            p{
                margin: 0;
            }
        }
    }
}