<app-header></app-header>

<div class="grid_container">

    <div class="item">

        <div class="image">
            <img src="../../assets/Angel-Investor 1.png" alt="">
            
        </div>
        <div class="text_image">
            <h5>Name</h5>
            <h6>Venture Capitalist</h6>
        </div>
        <div class="othertext">
    <p>Rest</p>
        </div>
    </div>

    <div class="item">

        <div class="image">
            <img src="../../assets/Angel-Investor 1.png" alt="">
            
        </div>
        <div class="text_image">
            <h5>Name</h5>
            <h6>Venture Capitalist</h6>
        </div>
        <div class="othertext">
    <p>Rest</p>
        </div>
    </div>

    <div class="item">

        <div class="image">
            <img src="../../assets/Angel-Investor 1.png" alt="">
            
        </div>
        <div class="text_image">
            <h5>Name</h5>
            <h6>Venture Capitalist</h6>
        </div>
        <div class="othertext">
    <p>Rest</p>
        </div>
    </div>

    <div class="item">

        <div class="image">
            <img src="../../assets/Angel-Investor 1.png" alt="">
            
        </div>
        <div class="text_image">
            <h5>Name</h5>
            <h6>Venture Capitalist</h6>
        </div>
        <div class="othertext">
    <p>Rest</p>
        </div>
    </div>

    <div class="item">

        <div class="image">
            <img src="../../assets/Angel-Investor 1.png" alt="">
            
        </div>
        <div class="text_image">
            <h5>Name</h5>
            <h6>Venture Capitalist</h6>
        </div>
        <div class="othertext">
    <p>Rest</p>
        </div>
    </div>



    <div class="item">
        <p>Rest</p>
        </div>
        <div class="item">
            <p>Rest</p>
            </div>
            <div class="item">
                <p>Rest</p>
                </div>
                <div class="item">
                    <p>Rest</p>
                    </div>
                    <div class="item">
                        <p>Rest</p>
                        </div>
                        <div class="item">
                            <p>Rest</p>
                            </div>


</div>

