<app-header></app-header>

<div class="grid_container">

    <a href="https://www.bankofbaroda.in/start-up-banking/" target="_blank">
        <div class="item">

            <div class="image">
                <img src="../../assets/WhatsApp Image 2022-07-08 at 10.47.09 AM (1).jpeg" alt="">

            </div>
            <!-- <div class="text_image">
            <h5>Name</h5>
            <h6>Venture Capitalist</h6>
        </div>
        <div class="othertext">
    <p>Rest</p>
        </div> -->
        </div>
    </a>

    <a href="https://www.bankofbaroda.in/start-up-banking/" target="_blank">
        <div class="item">

            <div class="image">
                <img src="../../assets/WhatsApp Image 2022-07-08 at 12.13.20 PM.jpeg" alt="">

            </div>

        </div>
    </a>

    <a href="https://www.bankofbaroda.in/start-up-banking/" target="_blank">
        <div class="item">

            <div class="image">
                <img src="../../assets/WhatsApp Image 2022-07-08 at 12.13.38 PM.jpeg" alt="">

            </div>

        </div>
    </a>

    <a href="https://www.bankofbaroda.in/start-up-banking/" target="_blank">
        <div class="item">

            <div class="image">
                <img src="../../assets/WhatsApp Image 2022-07-08 at 12.13.52 PM.jpeg" alt="">

            </div>

        </div>
    </a>

    <a href="https://www.bankofbaroda.in/start-up-banking/" target="_blank">
        <div class="item">

            <div class="image">
                <img src="../../assets/WhatsApp Image 2022-07-08 at 12.14.10 PM.jpeg" alt="">

            </div>


        </div>
    </a>

    <a href="https://www.bankofbaroda.in/start-up-banking/" target="_blank">
        <div class="item">

            <div class="image">
                <img src="../../assets/WhatsApp Image 2022-07-08 at 12.14.26 PM.jpeg" alt="">

            </div>

        </div>
    </a>




</div>

<app-footer class="footer"></app-footer>