<div class="whole">

    <app-header> </app-header>




    <div class="portion_main">


        
            <!-- <app-ads style="margin-right: 100px;"></app-ads> -->
    

        
        <div class="sidebar">

            <h4>News Categories</h4>

            <h5>Economy</h5>
            <h5>Market</h5>
            <h5>Jobs</h5>
            <h5>Personal Finance</h5>
            <h5>Entrepreneurship</h5>

        </div> 

        <div class="center_info">

            <h2>News</h2>

            <div *ngIf="newsdata">
                <div *ngFor="let news of newsdata" class="feed_post">


                    <a href="{{news.link}}" target="_blank">
                        <div class="onenews">


                            <div class="news_image">

                                <img src="{{news.img}}" alt="">

                            </div>
                            <div class="onetext">
                                <h4 class="firstline"> {{news.title}} </h4>
                            </div>


                        </div>
                    </a>

                </div>
            </div>


            <!-- <div class="onenews">

            <div class="news_image">
                <img src="../../assets/download (1) 1.png" alt="">
            </div>
             <div class="onetext">
                       <h4 class="firstline">news headline</h4>
                       
                       <h4>more about the news </h4>
                       
    
                       <p>source</p>
             </div>
        </div> -->

        </div>



        <app-trendingnews topic="Trending"></app-trendingnews>


    </div>

    <app-footer></app-footer>