

<div class="whole">

    <app-header> </app-header>

   


    <div class="portion_main">

        

        <div class="sidebar">

           <h4>News Categories</h4>

           <h5>Business</h5>
           <h5>Finance</h5>
           <h5>International</h5>
           <h5>Entertainment</h5>
           <h5>Health</h5>

        </div>

       <div class="center_info">

        <div class="onenews">

            <div class="news_image">
                <img src="../../assets/download 3.png" alt="">
            </div>
             <div class="onetext">
                       <h4 class="firstline">news headline</h4>
                       
                       <h4>more about the news </h4>
                       
    
                       <p>source</p>
             </div>
        </div>

        
        <div class="onenews">

            <div class="news_image">
                <img src="../../assets/download (1) 1.png" alt="">
            </div>
             <div class="onetext">
                       <h4 class="firstline">news headline</h4>
                       
                       <h4>more about the news </h4>
                       
    
                       <p>source</p>
             </div>
        </div>

       </div>



        <div class="right_sidebar">



            <div class="right_sidebar_news">

                <div class="sidebar_header"> News </div>

                <div class="sidebar_news">
                    <span class="sidebar_hash">• </span>
                    <p>
                        <a href="https://entrackr.com/2022/05/funding-and-acquisitions-in-indian-startups-this-week-09-may-14-may/"
                            target="_blank">

                            Funding and acquisitions in Indian startups this week </a>
                    </p>
                </div>

                <div class="sidebar_news">
                    <span class="sidebar_hash">• </span>
                    <p>
                        <a href="https://www.businessinsider.in/business/startups/news/zepto-has-been-taking-over-reliance-backed-dunzo-and-zomato-backed-blinkit-says-report/slidelist/91594636.cms"
                            target="_blank">
                            A nine-month old startup is racing past Reliance, Tata and Zomato backed startups in the
                            10-min delivery market
                        </a>
                    </p>
                </div>
                <div class="sidebar_news">
                    <span class="sidebar_hash">• </span>
                    <p><a href=""> News Article 3 </a></p>
                </div>
                <div class="sidebar_news">
                    <span class="sidebar_hash">• </span>
                    <p><a href=""> News Article 4 </a></p>
                </div>
                <div class="sidebar_news">
                    <span class="sidebar_hash">• </span>
                    <p><a href=""> News Article 5 </a></p>
                </div>

            </div>

        </div>


    </div>

