

<div class="whole">

    <app-header> </app-header>

   


    <div class="portion_main">

        

        <div class="sidebar">

           <h4>News Categories</h4>

           <h5>Business</h5>
           <h5>Finance</h5>
           <h5>International</h5>
           <h5>Entertainment</h5>
           <h5>Health</h5>

        </div>

       <div class="center_info">

        <div class="onenews">

            <div class="news_image">
                <img src="../../assets/download 3.png" alt="">
            </div>
             <div class="onetext">
                       <h4 class="firstline">news headline</h4>
                       
                       <h4>more about the news </h4>
                       
    
                       <p>source</p>
             </div>
        </div>

        
        <div class="onenews">

            <div class="news_image">
                <img src="../../assets/download (1) 1.png" alt="">
            </div>
             <div class="onetext">
                       <h4 class="firstline">news headline</h4>
                       
                       <h4>more about the news </h4>
                       
    
                       <p>source</p>
             </div>
        </div>

       </div>



        <app-trendingnews topic="Trending"></app-trendingnews>


    </div>

