* {
    margin: 0;
    padding: 0;

    a{
        text-decoration: none;
        color: unset;
    }
}

.whole {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    background-color: white;

}



/* header component has been completed... now will be working on the actual bottom portio of the feed page. 
    above everything has to be copied for the code of profile page  */
/* header component is a seperate component thus not seen here */


.portion_main {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    /* max-width: 600px; */
}

.sidebar {
    position: fixed;

    // padding-top: 10px;
    /* padding-left: 100px; */
    /* flex: 0.3; */
    border-radius: 10px;
    text-align: left;
    height: fit-content;
    margin-top: 57px;

    left: 8vw;

    border: 1px solid #d9d9d9;

    padding: 12px;
    padding-right: 60px;


    h4{

        padding: 10px;
    }

    h5{
        padding: 10px;
        cursor: pointer;
    }


}



.center_info{

    padding-top: 40px;
    display: flex;
    flex-direction: column;
    padding-right: 9vw;

    .onenews {

        display: flex;
        flex-direction: row;
        // width: 55vw;
        border: 2px solid rgba(0,0,0,0.2);
        margin-top: 15px;
        padding: 6px;
        border-radius: 10px;
        
        

        .news_image {
            width: 140px;
            // height: 100px;
            // height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            img{
                width: 140px;
            }
            
            // height: 100px;
            
        }

        
        .onetext {
            display: flex;
            flex-direction: column;
            // border: 2px solid black;
            // border-radius: 10px;
            // padding: 2px;
            // margin-top: 15px ;
            padding-left: 30px;
            justify-content: space-evenly;
            flex-grow: 1;
            width: 32vw;
            text-align: left;


            
            .firstline{
                margin-top: 10px;
            }

            h4
        
             {
                margin: 0;
                margin-bottom: 5px;
            }

            p{
                margin: 0;
                margin-bottom: 15px;
            }

        }
    }
}

/* right sidebar section css starts now */


