<app-header></app-header>

<div class="withads">
<div class="top">

    <h2>Shipping Address</h2>

    <div class="onecomp">
    <p>Line 1:</p>
    <input type="text" value="1001, Hostel 18, IIT Bombay, Powai" placeholder="Residence">
    </div>

    <div class="onecomp">
    <p>Line 2:</p>
    <input placeholder="City" value="Mumbai" type="text">
</div>

    <div class="onecomp">
    <p>Line 3:</p>
    <input type="text" placeholder="State" value="Maharashtra" name="" id="">
</div>

<div class="onecomp">
    <p style="width: 147px;">Pincode:</p>
    <input type="text" value="400 076" placeholder="" name="" id="">
</div>

    <!-- <p>City:</p> -->

    <div class="onecomp">
        <p>Landmark (optional):</p>
        <input type="text" placeholder="" name="" id="">
    </div>

    <!-- <p>Payment Options</p> -->


    <div class="middle">

        <p>Disclaimer:</p>
        <p> This is a B2B Marketplace and none of the products added are by Bank of Baroda, hence, we are not liable for any problem or issue with the product or its delivery or its legitimacy. You can only proceed if you agree with these conditions. </p>
    </div>

    <div class="bottom">
    <input type="checkbox"> I agree

    <div  class="connect_button">
        <!-- <input type="button" id="btn" value="Connect" onclick="confirm()"/> -->
       <input type="button" style="cursor: pointer;"  class="conbut" value="Place Order"> 
    </div>
    </div>
</div>

<app-ads style="margin-top: 160px; margin-right: 100px;"></app-ads>

</div>

<app-footer></app-footer>
