<app-header></app-header>

<div class="top">

    <h2>Shipping Address</h2>

    <p>Line 1:</p>

    <p>Line 2:</p>

    <p>Line 3:</p>

    <p>Pincode:</p>

    <p>City:</p>

    <p>Landmark (optional):</p>

    <p>Payment Options</p>


    <div class="middle">

        <p>Disclaimer:</p>
        <p> This is a B2B Marketplace and none of the products added are by Bank of Baroda, hence, we are not liable for any problem or issue with the product or its delivery or its legitimacy. You can only proceed if you agree with these conditions. </p>
    </div>

    <div class="bottom">
    <input type="checkbox"> I agree

    <div  class="connect_button">
        <!-- <input type="button" id="btn" value="Connect" onclick="confirm()"/> -->
      <a href="placed"> <input type="button"  class="conbut" value="Next"> </a>
    </div>
    </div>
</div>
