
.top{
    margin-left: 10vw;
    margin-top: 100px;
    margin-right: 10vw;


    .middle{
        margin-top: 100px;
    }

    .bottom{
        margin-top: 70px;

        .connect_button{

            margin-left: 105px;
                

            input{
                border-radius: 85px;
                border: white;
                background-color: #162B75;
                padding-left: 20px;
                padding-right: 20px;
                width: 100px;
                height: 40px;
                color: white;
                margin-left: 30vw;
                margin-top: 30px;
            }

        }
    }
}