

.whole{


    h3{
        margin-top: 110px;
        margin-left: 10vw;
    }


    
.market {

    margin-top: 90px;
    left: 20vw;
    margin-left: 10vw;
    width: 53vw;

    .product {

        display: flex;
        flex-direction: row;
        // width: 55vw;
        border-bottom: 2px solid rgba(0,0,0,0.2);
        margin-top: 15px;
        padding: 6px;
        
        cursor: pointer;
        

        .prod_image {
            width: 140px;
            // height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            
            // height: 100px;
            
        }

        // .image1 {

        //     background-image: url('../../assets/bluetooth-headphones-500x500-1.jpg');
        // }

        // .image2 {

        //     background-image: url('../../assets/download.headphones.jpg');
        // }

        // .image3 {

        //     background-image: url('../../assets/headphones.jpg');
        // }

        // .image4 {

        //     background-image: url('../../assets/JBL-Free-WFH-Headphones-and-Headsets-492338532-i-1-1200Wx1200H-300Wx300H.jpg');
        // }

        // .image5{
                
        //     background-image: url('../../assets/bluetooth-headphones-500x500-1.jpg');
        //     }

        //     .image6{
                
        //         background-image: url('../../assets/headphones.jpg');
        //         }


        .oneproduct {
            display: flex;
            flex-direction: column;
            // border: 2px solid black;
            // border-radius: 10px;
            // padding: 2px;
            // margin-top: 15px ;
            padding-left: 50px;
            justify-content: space-evenly;
            flex-grow: 1;
            width: 40vw;


            .inrow{
                display: flex;
                flex-direction: row;
                
                h4{
                    margin-right: 100px;
                }


            }
            
            .firstline{
                margin-top: 10px;
            }

            h4,
            h6
             {
                margin: 0;
                margin-bottom: 5px;
            }

            p{
                margin: 0;
                margin-bottom: 15px;
            }

        }
    }
}
}