<app-header></app-header>
<div class="grid_container">
    <div id="content" class="">





        <div class="container">
            <h1>Cookie Policy</h1>

        </div>




        <div class="component container col-12 container-shadow indent-top" id="second-scroll">
            <div class="component-content">

                <div class="component content col-12">
                    <div class="component-content">
                        <div class="field-content">
                            <p><strong>Introduction</strong></p>
                            <p>To continually improve your experience on our website, we use cookies that store your
                                preferences and help us remember you. This information helps us understand your
                                interests
                                and show you content we think you’ll like. By visiting the website, you agree and
                                authorize
                                us to store, access cookies and other tracking technologies on your computer or hand
                                held
                                device. Please note that some of our services will not function effectively if your
                                device
                                does not accept cookies.<br>
                                Take a look at the below information regarding cookies, their settings, and their
                                applications on our website:</p>
                            <hr>
                            <p><strong>What are Cookies?</strong></p>
                            <p>Cookies are small text files that are stored on your computer, mobile phone or other
                                internet
                                connected device to identify your browser, provide your browsing insights and remember
                                information about you such as your browsing device or language preference. They're
                                completely safe and can't be used to run programs or deliver viruses to any of your
                                device.
                                Every cookie is unique to your specific web browser. It allows the website to remember
                                your
                                browsing behaviour and customize content as per your browsing pattern, improving your
                                website experience.</p>
                            <hr>
                            <p><strong>Why does bankofbaroda.in use cookies?</strong></p>
                            <p>We use first party and/or third party cookies on our website for the following purposes:
                            </p>
                            <ul>
                                <li>To simplify the operation and functionality of our website;</li>
                                <li>To improve your experience on our website and help you navigate faster and easier;
                                </li>
                                <li>To customize your user experience, and understand what is useful or of interest to
                                    you;
                                </li>
                                <li>To analyze how our website is used and how best we can modify it;</li>
                                <li>To identify &amp; pre-empt requirements of future prosp <strong>ects and existing
                                        account holders, and personalize marketing and sales interactions with
                                        it.</strong>
                                </li>
                                <li>To personalize online advertising based on your interests.</li>
                            </ul>
                            <hr>
                            <p><strong>What type of cookies does bankofbaroda.in use?</strong></p>
                            <p>The following are the types of cookies used on our website:</p><br>
                            <p>Strictly Necessary Cookies</p>
                            <ul>
                                <li>These cookies are necessary for our website to function and enable you to use the
                                    website features such as accessing secure areas. It cannot be switched off in our
                                    backend. If you choose to remove or disable these cookies, the website may not
                                    perform
                                    as expected as intended.</li>
                            </ul>
                            <p>Performance Cookies</p>
                            <ul>
                                <li>These cookies help enhance the performance of our website and help us make necessary
                                    improvements based on your browsing behavior. Information collected by these cookies
                                    is
                                    anonymous and contains data on how you use the website. For example, identifying
                                    your
                                    most visited pages, recently searched terms, etc. Once we collect this information,
                                    we
                                    use it to improve how our website works.</li>
                            </ul>
                            <p>Functionality Cookies</p>
                            <ul>
                                <li>These cookies help improve the functionality of our website. These cookies remember
                                    your
                                    preferences such as location, user name, language, etc. and provide custom content
                                    and
                                    features tailored for you. In absence of these cookies, the website will be unable
                                    to
                                    remember the choices you've previously made and won’t be able to personalise your
                                    browsing experience.</li>
                            </ul>
                            <p>Targeting Cookies</p>
                            <ul>
                                <li>These cookies are utilized to customize marketing as per your interests. These are
                                    likewise used to restrict number of times you are shown advertisements. They are
                                    also
                                    used to measure the effectiveness of a marketing campaign. These cookies typically
                                    track
                                    your browsing patterns on other websites too, but do not know who you are. Without
                                    these
                                    cookies, the ads you encounter will not be as relevant and not match your interests.
                                </li>
                            </ul>
                            <p>Marketing Cookies</p>
                            <ul>
                                <li>These type of marketing cookies are account-based, which enable us to identify
                                    future
                                    prospects and personalize sales and marketing interactions with users.</li>
                            </ul>
                            <p>Analytics and Customization Cookies</p>
                            <ul>
                                <li>All information collected by these cookies are used to help us analyze how our
                                    website
                                    is being used by the visitors, to understand how effective our marketing campaigns
                                    are
                                    and to customize our website experience for you.</li>
                            </ul>
                            <p>On our website, cookies served by Google Analytics are used to collect limited data
                                straight
                                from end-user browsers. To learn more on how Google collects and uses this data can be
                                found
                                at: <a href="https://www.google.com/policies/privacy/partners" class="external-btn"
                                    target="_blank">www.google.com/policies/privacy/partners.</a></p>
                            <hr>
                            <p><strong>How you can manage cookies?</strong></p>
                            <p>You can manage/control cookies on most web browsers through their 'settings' preferences.
                                However, limiting the ability of websites to set cookies may worsen the overall user
                                experience as it won’t be personalized to your preferences. It will also disable saving
                                of
                                customized settings like login information.</p>
                            <hr>
                            <p><strong>Changes to our cookie policy</strong></p>
                            <p>We may change our cookie policy at any time to accurately reflect the information. We
                                will
                                attempt to notify you of major changes, so you can review them before it goes in effect.
                            </p>
                            <hr>
                            <p><strong>Further information about cookies</strong></p>
                            <p>Want to learn more about cookies in general and how to manage them? Please visit the
                                website:
                                <a href="https://www.aboutcookies.org" class="external-btn"
                                    target="_blank">www.aboutcookies.org</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer class="footer"></app-footer>