<div class="whole">

    <app-header> </app-header>

    <!-- header component has been completed... now will be working on the actual bottom portio of the feed page. 
    above everything has to be copied for the code of profile page. 
    We will also have to hyperlink everything in the sidebar section -->


    <div class="portion_main">

        <!-- left section first -->

        <div class="sidebar">

            <!-- <div class="sidebar_top">
                <div class="sidebar_header"> Notifications
                    <img src="../../assets/BellRinging.svg" alt=""> 
                </div>


                <div class="sidebar_notif">
                    
                    <p>Mishal Ahmed viewed your page (13 min ago)</p>
                </div>
                <div class="sidebar_notif">
                    <p>Suntech wants to collaborate with you on your latest project (1 hour ago)</p>
                </div>
                <div class="sidebar_notif">
                    <p>Check out the new startups in the tech sector (6 hours ago)</p>
                </div>

            </div> -->

            <app-connections> </app-connections>

        </div>

        <!-- sidebar section has ended
          the feed main section will start here -->

        <div class="main_feed">

            <div class="feed_inputcontainer">

                <div [ngStyle]="{backgroundImage: 'url(https://bob.anujagrawal.co.in' + pictureuser + ')'}"
                    class="profile_image">

                </div>

                <div class="totalinput">
                    <div class="feed_input">
                        <form>
                            <div class="feed_textbox">

                                <textarea [defaultValue]="" [(ngModel)]="content" name="content" class="textarea"
                                    id="area_text" type="text" placeholder="Write Something"> </textarea>

                                <!-- <textarea [defaultValue]="" name="" id="" cols="30" rows="10"></textarea> -->

                            </div>

                        </form>
                    </div>



                    <div class="feed_inputicons">

                        <div onclick="document.getElementById('file-input1').click()" class="inputicons">

                            <input onchange="" type="file" id="file-input1">


                            <img class="forimage" id="upload"
                                src="../../assets/BoB Startup Portal (3)/Home page/Group.svg" alt="">
                            <!-- <input type="image"> 
                              remember to add functionality of image adding here-->
                            <!-- see if the style of adding input inside the i command is ok or not -->
                        </div>

                        <div onclick="document.getElementById('file-input2').click()" class="inputicons">

                            <input type="file" id="file-input2">
                            <img src="../../assets/BoB Startup Portal (3)/Home page/MonitorPlay.svg" alt="">
                            <!-- <input type="video"> 
                              remember to add functionality of image adding here-->
                        </div>


                        <img src="../../assets/BoB Startup Portal (3)/Home page/bi_send.svg" (click)="posts()"
                            class="inputicons">

                    </div>
                </div>
            </div>


            <!-- now what I am making is the actual area where all text, images and videos will be dispayed -->



            <div *ngIf="data">
                <div *ngFor="let post of data" class="feed_post">

                    <div class="post_header">

                        <div class="post_headerleft">


                            <div [ngStyle]="{backgroundImage: 'url(https://bob.anujagrawal.co.in' + post.user.profile_pic + ')'}" class="image_circ">

                            </div>

                            <div class="post_info">
                                <h3 class="namecapital">{{post.user.username}}</h3>
                                <h6>Starup Name/Other Info</h6>
                            </div>
                        </div>

                        <div class="post_headerright">
                            <!-- <h5>{{post.date}}</h5> -->

                        </div>
                    </div>

                    <div class="post_body">

                        <div class="post_writeup">
                            <p>{{post.description}} </p>
                        </div>
                        <div [ngStyle]="{backgroundImage: 'url(https://bob.anujagrawal.co.in' + post.file + ')'}"
                            class="post_image">


                        </div>
                    </div>

                    <div class="post_inputicons">

                        <div class="inputicon">
                            <i class="material-symbols-outlined">
                                thumb_up
                            </i>
                        </div>

                        <div class="inputicon">
                            <i class="material-symbols-outlined">
                                chat_bubble
                            </i>
                        </div>

                        <div class="inputicon">
                            <i class="material-symbols-outlined">
                                share
                            </i>
                        </div>


                    </div>
                </div>
            </div>


            <!-- <div class="feed_post">

                <div class="post_header">

                    <div class="post_headerleft">

                        <i class="material-symbols-outlined">
                            account_circle
                        </i>
                        <div class="post_info">
                            <h3>Name</h3>
                            <h6>Starup Name/Other Info</h6>
                        </div>
                    </div>

                    <div class="post_headerright">


                    </div>
                </div>

                <div class="post_body">
                    <div class="post_image2">


                    </div>
                </div>

                <div class="post_inputicons">

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            thumb_up
                        </i>
                    </div>

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            chat_bubble
                        </i>
                    </div>

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            share
                        </i>
                    </div>


                </div>
            </div>

            <div class="feed_post">

                <div class="post_header">

                    <div class="post_headerleft">

                        <i class="material-symbols-outlined">
                            account_circle
                        </i>
                        <div class="post_info">
                            <h3>Name</h3>
                            <h6>Starup Name/Other Info</h6>
                        </div>
                    </div>

                    <div class="post_headerright">


                    </div>
                </div>

                <div class="post_body">
                    <div class="post_image3">


                    </div>
                </div>

                <div class="post_inputicons">

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            thumb_up
                        </i>
                    </div>

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            chat_bubble
                        </i>
                    </div>

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            share
                        </i>
                    </div>


                </div>
            </div>


            <div class="feed_post">

                <div class="post_header">

                    <div class="post_headerleft">

                        <i class="material-symbols-outlined">
                            account_circle
                        </i>
                        <div class="post_info">
                            <h3>Name</h3>
                            <h6>Starup Name/Other Info</h6>
                        </div>
                    </div>

                    <div class="post_headerright">


                    </div>
                </div>

                <div class="post_body">
                    <div class="post_image4">


                    </div>
                </div>

                <div class="post_inputicons">

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            thumb_up
                        </i>
                    </div>

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            chat_bubble
                        </i>
                    </div>

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            share
                        </i>
                    </div>


                </div>
            </div>



            <div class="feed_post">

                <div class="post_header">

                    <div class="post_headerleft">

                        <i class="material-symbols-outlined">
                            account_circle
                        </i>
                        <div class="post_info">
                            <h3>Name</h3>
                            <h6>Starup Name/Other Info</h6>
                        </div>
                    </div>

                    <div class="post_headerright">


                    </div>
                </div>

                <div class="post_body" id="writeup">
                    <p>Bank of Baroda (BOB or BoB) is an Indian nationalized banking
                        and financial services company headquartered in Vadodara.
                        It is the fourth largest nationalised bank in India, with 132 million customers,
                        a total business of US$218 billion, and a global presence of 100 overseas offices.</p>
                </div>

                <div class="post_inputicons">

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            thumb_up
                        </i>
                    </div>

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            chat_bubble
                        </i>
                    </div>

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            share
                        </i>
                    </div>


                </div>
            </div>


            <div class="feed_post">

                <div class="post_header">

                    <div class="post_headerleft">

                        <i class="material-symbols-outlined">
                            account_circle
                        </i>
                        <div class="post_info">
                            <h3>Name</h3>
                            <h6>Starup Name/Other Info</h6>
                        </div>
                    </div>

                    <div class="post_headerright">


                    </div>
                </div>

                <div class="post_body">

                    <div class="post_image">


                    </div>
                </div>

                <div class="post_inputicons">

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            thumb_up
                        </i>
                    </div>

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            chat_bubble
                        </i>
                    </div>

                    <div class="inputicon">
                        <i class="material-symbols-outlined">
                            share
                        </i>
                    </div>


                </div>
            </div> -->
        </div>

        <!-- here the main feed has ended -->
        <!-- we will be adding the news section next -->

       <app-trendingnews topic="News"></app-trendingnews>


    </div>
</div>