* {
    margin: 0;
    padding: 0;
}

.whole {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    background-color: rgb(242, 242, 242);

}



/* header component has been completed... now will be working on the actual bottom portio of the feed page. 
    above everything has to be copied for the code of profile page  */
/* header component is a seperate component thus not seen here */


.portion_main {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    /* max-width: 600px; */
}

.sidebar {
    position: fixed;

    // padding-top: 10px;
    /* padding-left: 100px; */
    /* flex: 0.3; */
    border-radius: 10px;
    text-align: left;
    height: fit-content;

    left: 10vw;


}

.sidebar_top {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    max-width: 20vw;
    padding: 10px;
    /* box-shadow: -10px -10px 0px gray;  */

    .sidebar_header {
        text-align: left;
        /* place-items: center; */
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 1vw;
    }

}



.sidebar_notif {
    display: flex;
    // cursor: pointer;
    margin-bottom: 3px;
    margin-top: 5px;
    border: 2px solid #d6d6d6;
    margin-bottom: 10px;
    padding: 3px;


    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}






/* <!-- sidebar section has ended */
/* the feed main section will start here --> */

.main_feed {

    flex: 0.6;
    margin: 0 0;
    max-width: 40vw;
    width: 40vw;
    padding-top: 40px;
}

.feed_inputcontainer {
    display: flex;
    flex-direction: row;
    border: 1px solid #d6d6d6;
    padding: 15px;
    padding-bottom: 3px;
    background-color: white;
    border-radius: 10px;
}

.profile_image {
    width: 45px;
    height: 45px;
    border: solid white;
    border-radius: 100%;
    background-color: rgb(187, 186, 186);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
}

.feed_input {
    /* border: 2px solid black; */
    display: flex;
    /* padding-left: 80px; */
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.feed_input form {
    border: none;
    flex: 1;
    /* margin-left: 0; */
    outline-width: 0;

}

/* .feed_textbox{
    width: 900px;
} */

.feed_textbox {
    display: flex;
    width: 27vw;
    height: 10vh;
    background-size: cover;
    align-items: left;
    text-align: left;
}

.textarea {
    width: 100%;
    height: 100%;
    padding: 5px;

}



#upload {
    opacity: 0.8;


    width: 25px;
    height: 25px;

}

.feed_inputicons {
    display: flex;
    justify-content: space-evenly;

    img {
        width: 30px;
        height: 30px;
    }

}



.inputicons_show{
    display: flex;
    padding: 2px;
    cursor: pointer;

}

.inputicons {
    display: flex;
    padding: 2px;
    cursor: pointer;
}

#file-input1,
#file-input2 {
    display: none;
}

/* the post area will be worked upon now */

.feed_post {
    background-color: white;
    padding: 15px;
    margin-bottom: 27px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #d6d6d6;

}



.post_header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.post_headerleft {
    display: flex;
    flex-direction: row;

    .image_circ{
        width: 50px;
        height: 50px;
        border: solid white;
        border-radius: 100%;
        background-color: rgb(187, 186, 186);

        background-size: contain;
    }
}

// .post_headerright {}

.post_info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;

    
}

.post_info h3 {
    font-size: 15px;
    text-align: left;
}

.post_info h6 {
    font-size: 12px;
    color: lightsalmon;
}

.post_body {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: white;
    /* border: 2px solid rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
    /* opacity: 0.1; */
    /* padding-bottom: 80px; */
}

.post_body p {
    text-align: left;
    color: black;
}

.post_inputicons {
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
    max-width: 200px;

    .inputicon{
    cursor: pointer;

    img{
        height: 24px;
    }


    :after{
        background-color: blue;
    }
    }
}

.post_image {
    // background-image: url(../../assets/photo1.jpg); 

    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.numberlc{
    display: flex;
    flex-direction: row;
     margin-left: 300px;
     margin-bottom: 10px;
    
    // width: 140px;

    p{
        margin-left: 20px;
    }

   
}

.seperatebox{

    border: 1px solid #d6d6d6;
    border-radius: 10px;
    width: 100%;
    height: 25px;
    padding: 5px;
    margin-bottom: 10px;
    

p{
    margin-left: 20px;
    text-align: left;
}

}


