<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Feed Page</title>
</head>
<body>
    <div class="header">
          
          
          <div class="header_left">

            <div class="header_search">
                <i class="material-symbols-outlined">
                    search
                </i>
                  <input type="text">
              </div>


            <div class="header_icon">
            <i class="material-symbols-outlined">
                feed
            </i>
            <h3>Networking Feed</h3>
            </div>

            <div class="header_icon">
                <i class="material-symbols-outlined">
                    chat
                </i>
                <h3>Messages</h3>
                </div>

                <div class="header_icon">
                <i class="material-symbols-outlined">
                    attach_money
                </i>
                <h3>Funding Section</h3>
                </div>

                <div class="header_icon">
                    <i class="material-symbols-outlined">
                        person
                    </i>
                    <h3>Profile</h3>
                    </div>


                    <div class="header_right">
                        <img src="../../assets/Logo.png" alt="Logo1">
                        <img src="../../assets/startup_logo.jpg" alt="Logo2">
          
                        
                    </div>

          </div>
    </div>

    <!-- header component has been completed... now will be working on the actual bottom portio of the feed page. 
    above everything has to be copied for the code of profile page. 
    We will also have to hyperlink everything in the sidebar section -->

         
         <div class="portion_main">

         <!-- left section first -->

            <div class="sidebar">

                <div class="sidebar_top">
                      <div class="sidebar_header"> Notifications </div>

                         <div class="sidebar_notif">
                            <span class="sidebar_arrow">=> </span>
                      <p>Mishal Ahmed viewed your page (13 min ago)</p>
                          </div>
                      <div class="sidebar_notif">
                      <span class="sidebar_arrow">=> </span>
                      <p>Suntech wants to collaborate with you (1 hour ago)</p>
                        </div>
                      <div class="sidebar_notif">
                      <span class="sidebar_arrow">=> </span>
                      <p>Check out the new startups in the tech sector (6 hours ago)</p>
                      </div>
                         
                </div>

                <div class="sidebar_bottom">
                     <div class="sidebar_header"> Connection Suggestions </div>
                        
                     <div class="sidebar_connections">
                         <span class="sidebar_hash">#</span>
                     <p>Aditya Sharma</p>
                     </div>

                     <div class="sidebar_connections">
                     <span class="sidebar_hash">#</span>
                     <p>Prateek Jha</p>
                     </div>
                     <div class="sidebar_connections">
                     <span class="sidebar_hash">#</span>
                     <p>Abhimanyu Ashwin Raut</p>
                     </div>
                     <div class="sidebar_connections">
                     <span class="sidebar_hash">#</span>
                     <p>Sakshi Patil</p>
                     </div>
                     <div class="sidebar_connections">
                     <span class="sidebar_hash">#</span>
                     <p>Somya Sharma</p>
                    </div>
                
            </div>

        </div>

        </div>


         <!-- sidebar section has ended -->

        </body>
</html>
