<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Feed Page</title>
</head>
<body>
    
    <app-header> </app-header>

    <!-- header component has been completed... now will be working on the actual bottom portio of the feed page. 
    above everything has to be copied for the code of profile page. 
    We will also have to hyperlink everything in the sidebar section -->

         
         <div class="portion_main">

         <!-- left section first -->

            <div class="sidebar">

                <div class="sidebar_top">
                      <div class="sidebar_header"> Notifications </div>

                         <div class="sidebar_notif">
                            <span class="sidebar_hash">#</span>
                      <p>Mishal Ahmed viewed your page (13 min ago)</p>
                          </div>
                      <div class="sidebar_notif">
                      <span class="sidebar_hash"># </span>
                      <p>Suntech wants to collaborate with you (1 hour ago)</p>
                        </div>
                      <div class="sidebar_notif">
                      <span class="sidebar_hash"># </span>
                      <p>Check out the new startups in the tech sector (6 hours ago)</p>
                      </div>
                         
                </div>

                <div class="sidebar_bottom">
                     <div class="sidebar_header"> Connection Suggestions </div>
                        
                     <div class="sidebar_connections">
                         <span class="sidebar_hash">#</span>
                     <p>Aditya Sharma</p>
                     </div>

                     <div class="sidebar_connections">
                     <span class="sidebar_hash">#</span>
                     <p>Prateek Jha</p>
                     </div>
                     <div class="sidebar_connections">
                     <span class="sidebar_hash">#</span>
                     <p>Abhimanyu Ashwin Raut</p>
                     </div>
                     <div class="sidebar_connections">
                     <span class="sidebar_hash">#</span>
                     <p>Sakshi Patil</p>
                     </div>
                     <div class="sidebar_connections">
                     <span class="sidebar_hash">#</span>
                     <p>Somya Sharma</p>
                    </div>
                
            </div>

        </div>

        


         <!-- sidebar section has ended
          the feed main section will start here -->

            <div class="main_feed">

                    <div class="feed_inputcontainer">

                        <div class="feed_input">
                             <form>
                                 <div class="feed_textbox">

                                     <textarea [defaultValue]="" class="textarea" type="text" placeholder="Write Something"></textarea>
                                    
                                    </div>

                             </form>
                        </div>

                    

                    <div class="feed_inputicons">

                        <div onclick="document.getElementById('file-input1').click()" class="inputicons">

                            <input type="file" id="file-input1">
                            
                            
                            <i style="color: #5a5a59;" class="material-symbols-outlined" >
                                image
                            </i>
                            <!-- <input type="image"> 
                              remember to add functionality of image adding here-->
                              <!-- see if the style of adding input inside the i command is ok or not -->
                        </div>

                        <div onclick="document.getElementById('file-input2').click()" class="inputicons">

                            <input type="file" id="file-input2">
                        <i style="color: #5a5a59;" class="material-symbols-outlined">
                                videocam
                            </i>
                                 <!-- <input type="video"> 
                              remember to add functionality of image adding here-->
                        </div>

                        
                        <button class="inputbutton" type="submit">Post</button>
                     
                    </div>
                    </div>


                   <!-- now what I am making is the actual area where all text, images and videos will be dispayed -->



                    <div class="feed_post">

                        <div class="post_header">

                            <div class="post_headerleft">
                               
                                
                            <i class="material-symbols-outlined">
                                account_circle
                            </i>
                                
                            <div class="post_info">
                                <h3>Name</h3>
                                <h6>Starup Name/Other Info</h6>
                            </div>
                            </div>

                            <div class="post_headerright">


                            </div>
                        </div>

                        <div class="post_body">
                            <div class="post_image">
                                 
                               
                            </div>
                        </div>

                        <div class="post_inputicons">

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    thumb_up
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    chat_bubble
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    share
                                </i>
                            </div>


                        </div>
                    </div>


                    <div class="feed_post">

                        <div class="post_header">

                            <div class="post_headerleft">
                               
                            <i class="material-symbols-outlined">
                                account_circle
                            </i>
                            <div class="post_info">
                                <h3>Name</h3>
                                <h6>Starup Name/Other Info</h6>
                            </div>
                            </div>

                            <div class="post_headerright">


                            </div>
                        </div>

                        <div class="post_body">
                            <div class="post_image2">
                                 
                               
                            </div>
                        </div>

                        <div class="post_inputicons">

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    thumb_up
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    chat_bubble
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    share
                                </i>
                            </div>


                        </div>
                    </div>

                    <div class="feed_post">

                        <div class="post_header">

                            <div class="post_headerleft">
                               
                            <i class="material-symbols-outlined">
                                account_circle
                            </i>
                            <div class="post_info">
                                <h3>Name</h3>
                                <h6>Starup Name/Other Info</h6>
                            </div>
                            </div>

                            <div class="post_headerright">


                            </div>
                        </div>

                        <div class="post_body">
                            <div class="post_image3">
                                 
                               
                            </div>
                        </div>

                        <div class="post_inputicons">

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    thumb_up
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    chat_bubble
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    share
                                </i>
                            </div>


                        </div>
                    </div>


                    <div class="feed_post">

                        <div class="post_header">

                            <div class="post_headerleft">
                               
                            <i class="material-symbols-outlined">
                                account_circle
                            </i>
                            <div class="post_info">
                                <h3>Name</h3>
                                <h6>Starup Name/Other Info</h6>
                            </div>
                            </div>

                            <div class="post_headerright">


                            </div>
                        </div>

                        <div class="post_body">
                            <div class="post_image4">
                                 
                               
                            </div>
                        </div>

                        <div class="post_inputicons">

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    thumb_up
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    chat_bubble
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    share
                                </i>
                            </div>


                        </div>
                    </div>


                    <!-- <div class="feed_post">

                        <div class="post_header">

                            <div class="post_headerleft">
                               
                            <i class="material-symbols-outlined">
                                account_circle
                            </i>
                            <div class="post_info">
                                <h3>Name</h3>
                                <h6>Starup Name/Other Info</h6>
                            </div>
                            </div>

                            <div class="post_headerright">


                            </div>
                        </div>

                        <div class="post_body">
                             <p>Comment here</p>
                        </div>

                        <div class="post_inputicons">

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    thumb_up
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    chat_bubble
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    share
                                </i>
                            </div>


                        </div>
                    </div>


                    <div class="feed_post">

                        <div class="post_header">

                            <div class="post_headerleft">
                               
                            <i class="material-symbols-outlined">
                                account_circle
                            </i>
                            <div class="post_info">
                                <h3>Name</h3>
                                <h6>Starup Name/Other Info</h6>
                            </div>
                            </div>

                            <div class="post_headerright">


                            </div>
                        </div>

                        <div class="post_body">
                             <p>Comment here</p>
                        </div>

                        <div class="post_inputicons">

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    thumb_up
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    chat_bubble
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    share
                                </i>
                            </div>


                        </div>
                    </div> -->


                    <div class="feed_post">

                        <div class="post_header">

                            <div class="post_headerleft">
                               
                            <i class="material-symbols-outlined">
                                account_circle
                            </i>
                            <div class="post_info">
                                <h3>Name</h3>
                                <h6>Starup Name/Other Info</h6>
                            </div>
                            </div>

                            <div class="post_headerright">


                            </div>
                        </div>

                        <div class="post_body">
                             <p>Bank of Baroda (BOB or BoB) is an Indian nationalized banking
                                  and financial services company headquartered in Vadodara. 
                                  It is the fourth largest nationalised bank in India, with 132 million customers,
                                   a total business of US$218 billion, and a global presence of 100 overseas offices.</p>
                        </div>

                        <div class="post_inputicons">

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    thumb_up
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    chat_bubble
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    share
                                </i>
                            </div>


                        </div>
                    </div>


                    <div class="feed_post">

                        <div class="post_header">

                            <div class="post_headerleft">
                               
                            <i class="material-symbols-outlined">
                                account_circle
                            </i>
                            <div class="post_info">
                                <h3>Name</h3>
                                <h6>Starup Name/Other Info</h6>
                            </div>
                            </div>

                            <div class="post_headerright">


                            </div>
                        </div>

                        <div class="post_body">
                             
                            <div class="post_image">
                                 
                               
                            </div>
                        </div>

                        <div class="post_inputicons">

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    thumb_up
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    chat_bubble
                                </i>
                            </div>

                            <div class="inputicon">
                                <i class="material-symbols-outlined">
                                    share
                                </i>
                            </div>


                        </div>
                    </div>
            </div>

            <!-- here the main feed has ended -->
            <!-- we will be adding the news section next -->
        
            <div class="right_sidebar">

              

                <div class="right_sidebar_news">

                     <div class="sidebar_header"> Important News </div>
                        
                     <div class="sidebar_news">
                         <span class="sidebar_hash">#</span>
                     <p>
                         <a href="https://entrackr.com/2022/05/funding-and-acquisitions-in-indian-startups-this-week-09-may-14-may/" target="_blank">

                     Funding and acquisitions in Indian startups this week </a> 
                     </p>
                     </div>

                     <div class="sidebar_news">
                     <span class="sidebar_hash">#</span>
                     <p> 
                         <a href="https://www.businessinsider.in/business/startups/news/zepto-has-been-taking-over-reliance-backed-dunzo-and-zomato-backed-blinkit-says-report/slidelist/91594636.cms" target="_blank">
                         A nine-month old startup is racing past Reliance, Tata and Zomato backed startups in the 10-min delivery market
                         </a>
                        </p>
                     </div>
                     <div class="sidebar_news">
                     <span class="sidebar_hash">#</span>
                     <p><a href=""> News Article 3 </a></p>
                     </div>
                     <div class="sidebar_news">
                     <span class="sidebar_hash">#</span>
                     <p><a href=""> News Article 4 </a></p>
                     </div>
                     <div class="sidebar_news">
                     <span class="sidebar_hash">#</span>
                     <p><a href=""> News Article 5 </a></p>
                    </div>
                
            </div>

        </div>


         </div>
        </body>
</html>
