* {
    margin: 0;
    padding: 0;
}

body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    background-color: #f7f5f4;

}



 /* header component has been completed... now will be working on the actual bottom portio of the feed page. 
    above everything has to be copied for the code of profile page  */
    /* header component is a seperate component thus not seen here */


    .portion_main{
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: center;
        /* max-width: 600px; */
    }

.sidebar{
    position: fixed;
    
    padding-top: 40px;
    /* padding-left: 100px; */
    /* flex: 0.3; */
    border-radius: 10px;
    text-align: left;
    height: fit-content;

    left: 10vw;
    
    
}

.sidebar_top{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    max-width: 20vw;
    padding: 10px;
    /* box-shadow: -10px -10px 0px gray;  */


}



.sidebar_notif{
    display: flex;
    cursor: pointer;
    margin-bottom: 3px;
    margin-top: 5px;
}



.sidebar_bottom{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;


}

.sidebar_circle{
    /* clip-path: circle(); */
    width: 50px;
    height: 50px;
    border: solid white;
    border-radius: 100%;
    background-color: rgb(187, 186, 186); 
    margin-right: 1vw;
}

.sidebar_connections{
    display: flex;
    cursor: pointer;
    margin-bottom: 3px;
    margin-top: 5px;
    align-items: center;
}

.sidebar_header{
    text-align: left;
    /* place-items: center; */
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1vw;
}


/* <!-- sidebar section has ended */
/* the feed main section will start here --> */

.main_feed{
      
      flex: 0.6;
      margin: 0 0;
      max-width: 40vw;
      width: 40vw;
      padding-top: 40px;
}


.feed_input{
    /* border: 2px solid black; */
    display: flex;
    /* padding-left: 80px; */
      padding-bottom: 10px;
    margin-bottom: 10px; 
}

.feed_input form{
    border: none;
    flex: 1;
    /* margin-left: 0; */
    outline-width: 0;

}

/* .feed_textbox{
    width: 900px;
} */

.feed_textbox{
    display: flex;
     width: 35vw;
     height: 30vh;
     background-size: cover;
     align-items: left;
     text-align: left;
}
.textarea{
     width: 100%;
     height: 100%;
     
}

.feed_inputicons{
    display: flex;
    justify-content: space-evenly;
    
}

.inputicons{
    display: flex;
    padding: 2px;
    cursor: pointer;
}

#file-input1, #file-input2 {
    display: none;
}

/* the post area will be worked upon now */

.feed_post{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
    
}

.post_header{
    display: flex;
    margin-bottom: 10px;
}

.post_headerleft{
     display: flex;
     flex-direction: row;
}

.post_info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.post_info h3{
font-size: 15px;
}

.post_info h6{
    font-size: 12px;
    color: lightsalmon;
}

.post_body{
    display: flex;
    font-size: 15px;
    color: white;
    /* border: 2px solid rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
    /* opacity: 0.1; */
    /* padding-bottom: 80px; */
}

.post_body p{
    text-align: left;
    color: black;
}

.post_inputicons{
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
    max-width: 200px;
}

.post_image{
    background-image: url(../../assets/photo1.jpg); 

    width: 100%;
     height: 30vh; 
    background-repeat: no-repeat;
    background-size: cover;
}

.post_image2{
    background-image: url(../../assets/startup-1-1200x600.jpg); 

    width: 100%;
     height: 30vh; 
    background-repeat: no-repeat;
    background-size: cover;
}

.post_image3{
    background-image: url(../../assets/experts-in-tall-buildings-burohappold_getty.jpg); 

    width: 100%;
     height: 30vh; 
    background-repeat: no-repeat;
    background-size: cover;
}

.post_image4{
    background-image: url(../../assets/money.jpg); 

    width: 100%;
     height: 30vh; 
    background-repeat: no-repeat;
    background-size: cover;
}

/* right sidebar section css starts now */


.right_sidebar{
    position: fixed;
    
    padding-top: 40px;
    /* padding-left: 100px; */
    /* flex: 0.3; */
    border-radius: 10px;
    text-align: left;
    height: fit-content;

    right: 10vw;
    
    
}

.right_sidebar_news{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    max-width: 20vw;
    padding: 10px;


}






.sidebar_news{
    display: flex;
    cursor: pointer;
    margin-bottom: 3px;
    margin-top: 5px;
}

.sidebar_header{
    text-align: left;
    place-items: center;
    font-size: 20px;
    font-weight: bold;
    /* padding: 10px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input_image{
    
      background: url(../../assets/orange_bg.jpg)        right no-repeat; /*Your Image Link*/
      padding-right: 17px;
     
  }

  .material-symbols-outlined{
    color: #5a5a59;
}

#writeup{
    
}

a{
    color: unset;
    text-decoration: none;
}