<app-header> </app-header>

<div class="messages_body">

    <div class="mssg_container">

        <div class="leftside">

            <div class="ls_header">
                <h3>Messages</h3>
            </div>



            <div class="chatlist">

                <div *ngIf="frienddata">
                    <div *ngFor="let friend of frienddata.friends" class="feed_post">


                        <div class="chatlist_block" (click)="open_right(friend.username, friend.profile_pic,friend.id)" >

                            <!-- <div *ngIf="users" class="div-employee" >
                            <div class="except_circle" *ngFor="let user of users">
                              {{user.id}}
                            </div>
                          </div> -->

                            <div [ngStyle]="{backgroundImage: 'url(https://bob.anujagrawal.co.in' + friend.profile_pic + ')'}" class="chatlist_circle" ></div>
                            <div class="except_circle">
                                <p class="name">{{friend.username}}</p>
                                <!-- <p class="time">10:20</p> -->
                            </div>


                        </div>
                        <!-- 
                <div class="chatlist_block">

                    <div class="chatlist_circle"></div>
                    <div class="except_circle">
                    <p class="name">Spencer Reid</p>
                    <p class="time">10:18</p>
                    </div>

                </div>

                <div class="chatlist_block">

                    <div class="chatlist_circle"></div>
                    <div class="except_circle">
                    <p class="name">Jason Bourne</p>
                    <p class="time">9:20</p>
                    </div>
                </div>

                <div class="chatlist_block">

                    <div class="chatlist_circle"></div>
                    <div class="except_circle">
                    <p class="name">Aditya Kumar</p>
                    <p class="time">9:19</p>
</div>
                </div>

                <div class="chatlist_block">

                    <div class="chatlist_circle"></div>
                    <div class="except_circle">

                    
                    <p class="name">Vishal Meena</p>
                    <p class="time">8:48</p>
                    </div>
                </div>

                <div class="chatlist_block">

                    <div class="chatlist_circle"></div>
                    <div class="except_circle">
                    <p class="name">Patty Jones</p>
                    <p class="time">8:20</p>
</div>
                </div>

                <div class="chatlist_block">

                    <div class="chatlist_circle"></div>
                    <div class="except_circle">
                    <p class="name">JJ</p>
                    <p class="time">7:11</p>
                    </div>
                </div>

                <div class="chatlist_block">

                    <div class="chatlist_circle"></div>
                    <div class="except_circle">
                    <p class="name">Iris West</p>
                    <p class="time">5:50</p>
</div>
                </div> -->


                
                    </div>

                </div>
            </div>


        </div>


        <!-- <div *ngIf="frienddata">
            <div *ngFor="let friend of frienddata.friends" class="feed_post"> -->


        <div class="rightside">


            <div class="top">

                <div class="user">
                <div [ngStyle]="{backgroundImage: 'url(https://bob.anujagrawal.co.in' + chatter_pic + ')'}"  class="imageuser">
                    
                </div>
                <div class="text">
                <h3> {{chatter}} </h3>
                <h6>Startup Name</h6>
                </div>
                </div>

                <div class="meet">
                    <h3>Schedule a Meet</h3>
                    <img src="../../assets/CalendarBlank.svg" alt="">
                </div>
            </div>

            <div class="middle">

                <div *ngIf="chatdata">
                    <div *ngFor="let mssg of chatdata" [class]="alignclass(mssg)">



                         <p>  {{mssg.message}} </p>
                    </div>
                </div>
                
            </div>

            <div class="bottom">

                <div class="txtarea">
                <textarea type="text" placeholder="Write a Message" class="enter_chat" [(ngModel)]="message" >

                </textarea>
                </div>

                <div class="send" (click)="share()">
                    <img src="../../assets/bi_send.svg" alt="">
                </div>


            </div>


        </div>

    <!-- </div>
</div> -->

    </div>
</div>