<app-header> </app-header>

<div class="messages_body">

    <div class="mssg_container">

        <div class="leftside">

            <div class="ls_header">
                <h3>Messages</h3>
            </div>


           
                    <div class="chatlist">

                        <div *ngIf="data">
                            <div *ngFor="let friend of data" class="feed_post">
            

                        <div class="chatlist_block">

                            <!-- <div *ngIf="users" class="div-employee" >
                            <div class="except_circle" *ngFor="let user of users">
                              {{user.id}}
                            </div>
                          </div> -->

                            <div class="chatlist_circle"></div>
                            <div class="except_circle">
                                <p class="name">{{friend.username}}</p>
                                <p class="time">10:20</p>
                            </div>


                        </div>
                        <!-- 
                <div class="chatlist_block">

                    <div class="chatlist_circle"></div>
                    <div class="except_circle">
                    <p class="name">Spencer Reid</p>
                    <p class="time">10:18</p>
                    </div>

                </div>

                <div class="chatlist_block">

                    <div class="chatlist_circle"></div>
                    <div class="except_circle">
                    <p class="name">Jason Bourne</p>
                    <p class="time">9:20</p>
                    </div>
                </div>

                <div class="chatlist_block">

                    <div class="chatlist_circle"></div>
                    <div class="except_circle">
                    <p class="name">Aditya Kumar</p>
                    <p class="time">9:19</p>
</div>
                </div>

                <div class="chatlist_block">

                    <div class="chatlist_circle"></div>
                    <div class="except_circle">

                    
                    <p class="name">Vishal Meena</p>
                    <p class="time">8:48</p>
                    </div>
                </div>

                <div class="chatlist_block">

                    <div class="chatlist_circle"></div>
                    <div class="except_circle">
                    <p class="name">Patty Jones</p>
                    <p class="time">8:20</p>
</div>
                </div>

                <div class="chatlist_block">

                    <div class="chatlist_circle"></div>
                    <div class="except_circle">
                    <p class="name">JJ</p>
                    <p class="time">7:11</p>
                    </div>
                </div>

                <div class="chatlist_block">

                    <div class="chatlist_circle"></div>
                    <div class="except_circle">
                    <p class="name">Iris West</p>
                    <p class="time">5:50</p>
</div>
                </div> -->

                    </div>

                </div>
            </div>


        </div>

        <div class="rightside">


        </div>

    </div>
</div>