.messages_body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // background-color: red;

    .mssg_container {
        position: relative;
         width: 70vw;
        height: 80vh;
        max-width: 100%;
        background-color: white;
        display: flex;
        flex-direction: row;
        // padding-top: 15vh;
        border: 2px solid #c4c4c4;

        .leftside {
            position: relative;
            width: 20vw;
            display: flex;
            flex-direction: column;

            .ls_header {
                position: fixed;
                height: 65px;
                width: 30%;
                padding: 3px;
                border-bottom: 1px solid #d9d9d9;
                
                

                //  check why it is taking 100% width of whole container, not just the left side
                // similarly check that for h3 part as well

                background: white;

                h3 {
                    font-size: 22px;
                    margin: 0;
                    margin-left: 14px;
                    margin-top: 16px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    //  padding-bottom: 20px;
                    //  margin-bottom: 20px;
                    //  text-align: center;
                }
            }

            .chatlist {
                // display: flex;
                position: relative;
                height: calc(100% - 70px);
                overflow-y: auto;
                //  background: blue;
                //  padding-top: 70px;
                top: 70px;

                .chatlist_block {

                    display: flex;
                    padding: 20px;
                    border-bottom: 2px solid #e6e6e6;
                    cursor: pointer;

                    .chatlist_circle {
                        /* clip-path: circle(); */
                        width: 50px;
                        height: 50px;
                        border: solid white;
                        border-radius: 100%;
                        background-color: rgb(187, 186, 186);
                        background-size: cover;
                    }

                    .except_circle {

                        justify-content: space-between;
                        display: flex;
                        flex-direction: row;
                        flex-grow: 1;

                        .name {
                            padding-left: 10px;
                        }

                        .time {
                            // padding-left: 130px ;
                            font-size: 12px;
                            padding-top: 8px;
                            right: 0;
                            // text-align: right;

                        }

                    }

                    // check why time is not aligning to the end
                }
            }
        }

        .rightside {
            position: relative;
            width: 50vw;
            background: white;
            border-left: 2px solid #d9d9d9;

            .top {
                
                border-bottom: 1px solid #d9d9d9;
                display: flex;
                flex-direction: row;

                .user {
                    display: flex;
                    flex-direction: row;
                    margin-left: 10px;
                    padding: 7.5px;
                    width: 18vw;
                    // border-bottom: 1px solid black;

                    .imageuser {


                        width: 50px;
                        height: 50px;
                        border: solid white;
                        border-radius: 100%;
                        background-color: rgb(187, 186, 186);
                    }

                    .text{
                        display: flex;
                        flex-direction: column;
                        margin-left: 10px;
                        text-align: center;
                        
                        place-content: center;

                        h3, h6{
                            margin: 0;
                        }
                    }
                }

                .meet{
                    display: flex;
                    flex-direction: row;
                    width: 20vw;
                    margin-left: 400px;

                    h3{
                        margin: 0;
                        margin-top: 22px;
                        
                        
                    }

                    img{
                           height: 40px;
                           margin-top: 11px;
                           margin-left: 7px;
                    }
                }

            }


            .middle{
                background-color: white;
                height: 63vh;
            }

            .bottom{
                display: flex;
                flex-direction: row;
                border-top: 1px solid #d9d9d9;


                .txtarea{
                    width: 40vw;
                    background-color: white;
                    // border: solid black;
                    // padding: 4px;
                    max-height: 4vh;
                    border-radius: 85px;
                    margin-top: 9px;
                    margin-left: 10px;

                    .enter_chat{
                        width: 100%;
                        height: 100%;
                        border-radius: 85px;
                    }
                }

                .send{
                    margin-left: 55px;
                    margin-top: 4px;
                }
            }

        }


    }
}