.con_sidebar{
    // position: fixed;
    
    padding-top: 40px;
    
    /* padding-left: 100px; */
    /* flex: 0.3; */
    border-radius: 10px;
    text-align: left;
    height: fit-content;
    // max-height: 60vh;

    right: 7vw;
}

.con_bottom{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 10px;
    max-width: 20vw;
    padding: 20px;
    // max-height: 30vh;
}

.sidebar_circle{
    /* clip-path: circle(); */
    width: 50px;
    height: 50px;
    border: solid white;
    border-radius: 100%;
    background-color: rgb(187, 186, 186); ;
}

.con_connections{
    display: flex;
    cursor: pointer;
    border: 2px solid white;
    padding-bottom: 40px;
    border-bottom: 2px solid rgb(187, 186, 186);
    /* padding-left: 15px; */
    /* margin-bottom: 3px;
    margin-top: 5px; */
}

.con_connections p{
    padding-left: 5px;
}

.con_header{
    text-align: left;
    place-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 30px;
}