<div class="con_sidebar">

    <div class="con_bottom">


        <div class="con_header"> Connection Suggestions </div>


        <div *ngIf="connectdata">
            <div *ngFor="let suggest of connectdata" class="feed_post">

        <div class="con_connections">

            <div [ngStyle]="{backgroundImage: 'url(https://bob.anujagrawal.co.in' + suggest.profile_pic + ')'}" class="sidebar_circle" (click)="taketouser(suggest.username)"  >

            </div>
            <div class="sidebar_info">
                <p style="cursor: pointer;" (click)="taketouser(suggest.username)"> {{suggest.username}} </p>
                <p style="cursor: pointer;" (click)="taketouser(suggest.username)"> Name of startup</p>
                <p style="cursor: pointer;" (click)="taketouser(suggest.username)"> Industry</p>
                <div  class="connect_button">
                    <!-- <input type="button" id="btn" value="Connect" onclick="confirm()"/> -->
                    <input type="button" [id]="suggest.id" class="conbut" value="Connect" (click)="change($event.target)">
                </div>
            </div>
            
        </div>
        <br>

            </div>
        </div>

    </div>
</div>