
<div class="con_sidebar">

    <div class="con_bottom">


    <div class="con_header"> Connection Suggestions </div>

    
       
    <div class="con_connections">
        <!-- <span class="sidebar_hash"></span> -->
        <div class="sidebar_circle"></div>
    <p> Aditya Sharma</p>
    </div>
    <br>

    <div class="con_connections">
    <!-- <span class="sidebar_hash">#</span> -->
    <div class="sidebar_circle"></div>
    <p> Prateek Jha</p>
    </div>
    <br>
    <!-- <div class="con_connections"> -->
    <!-- <span class="sidebar_hash">#</span> -->
    <!-- <div class="sidebar_circle"></div>
    <p> Abhimanyu Ashwin Raut</p>
    </div> -->
    <br>
    <div class="con_connections">
    <!-- <span class="sidebar_hash">#</span> -->
    <div class="sidebar_circle"></div>
    <p> Sakshi Patil</p>
    </div>
    <br>
    <!-- <div class="con_connections">
    
    <div class="sidebar_circle"></div>
    <p> Somya Sharma</p>
   </div>   -->

   </div>
</div>