<div class="con_sidebar">

    <div class="con_bottom">


        <div class="con_header"> Connection Suggestions </div>



        <div class="con_connections">

            <div class="sidebar_circle"></div>
            <div class="sidebar_info">
                <p> Name of user</p>
                <p> Name of startup</p>
                <p> Industry</p>
            </div>
            <div class="connect_button">
                <button>Connect</button>
            </div>
        </div>
        <br>

        <div class="con_connections">

            <div class="sidebar_circle"></div>
            <div class="sidebar_info">
                <p> Name of user</p>
                <p> Name of startup</p>
                <p> Industry</p>
            </div>
            <div class="connect_button">
                <button>Connect</button>
            </div>
        </div>
        <br>

        <br>
        <div class="con_connections">

            <div class="sidebar_circle"></div>
            <div class="sidebar_info">
                <p> Name of user</p>
                <p> Name of startup</p>
                <p> Industry</p>
            </div>
            <div class="connect_button">
                <button>Connect</button>
            </div>
        </div>
        <br>


    </div>
</div>