.con_sidebar {
    // position: fixed;

    padding-top: 40px;

    /* padding-left: 100px; */
    /* flex: 0.3; */
    border-radius: 10px;
    text-align: left;
    height: fit-content;
    // border: 1px solid black;
    // max-height: 60vh;

    right: 7vw;


    .con_bottom {
        display: flex;
        flex-direction: column;
        border: 2px solid #d6d6d6;
        background-color: white;
        border-radius: 10px;
        max-width: 20vw;
        padding: 20px;
        // max-height: 30vh;

        .con_header {
            text-align: left;
            place-items: center;
            font-size: 20px;
            font-weight: bold;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            padding-bottom: 30px;
        }

        .con_connections {
            display: flex;
            // cursor: pointer;
            border: 2px solid white;
            padding-bottom: 20px;
            border-bottom: 2px solid rgb(187, 186, 186);
            /* padding-left: 15px; */
            /* margin-bottom: 3px;
            margin-top: 5px; */


            .sidebar_info {

                display: flex;
                flex-direction: column;

                p {
                    padding-left: 15px;
                    margin: 0;
                }

            }

            .connect_button{

                padding-left: 18px;
                padding-top: 53px;

                input{
                    border-radius: 15px;
                    border: white;
                    background-color: #f26522;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }


            .sidebar_circle {
                /* clip-path: circle(); */
                width: 50px;
                height: 50px;
                border: solid white;
                border-radius: 100%;
                background-color: rgb(187, 186, 186);

                background-size: contain;
                background-repeat: no-repeat;
            }

        }
    }
}