<app-header></app-header>

<div class="product_body">
    <div class="product_title">
        <h4>Marketplace>Category>Subcategory</h4>
    </div>

    <div class="content">

        <div class="leftside">
            <div class="product_info">

                <div class="prod_image">

                </div>
                <div class="prod_text">

                    <h4>Headphones Model #256463</h4>
                    <h6>Boat</h6>
                    <h4>Rs.5299</h4>
                    <h6>Minimum 20 units</h6>

                    <p>Best-quality red-colored earphones with soft padding. Also has surround sound and other premium
                        features. The latest model in the Boat line of products</p>

                </div>
            </div>

            <div class="prod_rest">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas voluptas nam fugiat, eum quam placeat
                    mollitia provident eligendi sed aspernatur numquam vel fuga, delectus ex! Veritatis, voluptatum.
                    Reiciendis, harum iusto.</p>
            </div>

        </div>


        <div class="seller_info">

              <h3>Seller Info</h3>
        </div>
    </div>
</div>