.product_body {
    margin-top: 130px;
    margin-left: 10vw;


    margin-bottom: 40px;

    .product_title {

        display: flex;
        flex-direction: row;

        h4 {
            font-weight: lighter;
            
        }

        h5{

            color: white;
            
        }

        .viewcart{
            margin-left: 50vw;
            margin-bottom: 20px;
            cursor: pointer;
            
            .cartsee{
                padding: 5px;
                padding-left: 15px;
                padding-right: 15px;
                background-color: #162B75;
                display: flex;
                flex-direction: row;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: row;

        .leftside {

            .product_info {
                padding-top: 10px;
                display: flex;
                flex-direction: row;

                .prod_image {

                    // background-image: url('../../assets/220px-StartupEcosystem.png');
                    height: 340px;
                    width: 280px;
                    border: 2px solid rgba($color: #000000, $alpha: 0.1);
                    background-repeat: no-repeat;
                    background-size: contain;
                    
                   

                }

                .prod_text {

                    padding-left: 25px;
                    max-width: 45vw;
                    display: flex;
                    flex-direction: column;


                    h4,h6,p{
                        margin: 0
                    }

                    .firstline{
                        margin-bottom: 18px;
                    }

                    
                    .secondline{
                        margin-bottom: 18px;
                    }

                    .thirdline{
                        margin-bottom: 18px;
                    }
        
                    .same{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 10px;
                    }
                        input{
                            border-radius: 35px;
                            border: white;
                            background-color: #162B75;
                            padding: 10px;
                            
                            color: white;
                        }
                    
                        .cart{
                            margin-bottom: 20px;
                        }
                }
            }

            .prod_rest {
                padding-top: 5px;
                max-width: calc(305px + 45vw);
                margin-bottom: 10px;
            }

        }

        .seller_info{
            // padding-left: 20px ;
            margin-left: 308px;
            width: 300px;
            height: 250px;
            border: 2px solid rgba($color: #000000, $alpha: 0.2);


            h3{
                margin-left: 20px;
            }
            .row{
                display: flex;
                flex-direction: row;
                margin-left: 20px;

                .imgseller{

                    width: 100px;
                        height: 100px;
                        background-size: contain;
                        cursor: pointer;

                    img{
                        width: 100px;
                        height: 100px;
                    }
                }

                .seller{
                    margin-left: 10px;
                }

                .connect{

                    margin-left: 15px;
                    margin-top: 15px;
                    
    
                    input{
                        border-radius: 15px;
                        border: white;
                        background-color: #162B75;
                        padding-left: 20px;
                        padding-right: 20px;
                        color: white;
                    }
                }
            }
        }
    }
}