<app-header></app-header>

<div class="product_body">
    <div class="product_title">
        <h4>Marketplace>{{category}}>{{subcategory}}</h4>


        <div class="viewcart">
          <a href="cart"><button  type="button" class="cartsee">
               <h5> My Cart </h5>

                <img src="../../assets/ShoppingCart.svg" alt="">
            </button>
          </a>
        </div>
    </div>

    <div class="content">


        <div *ngIf="marketdata">
        <div class="leftside">
            <div class="product_info">

                <div  [ngStyle]="{backgroundImage: 'url(https://bob.anujagrawal.co.in' + img + ')'}" class="prod_image">

                </div>
                <div class="prod_text">

                    <h4>{{name}}</h4>
                    <h6 >Boat</h6>
                    <!-- <h4>1499 per unit</h4> -->

                    <img class="firstline" width="200px" src="../../assets/Group 27.svg" alt="">

                    <h4>  ₹{{price}}/unit </h4>
                    <h6 class="secondline">Minimum order 20 units</h6>

                    <h6>Description</h6>
                    <p class="thirdline">{{descrip}}</p>

                    <div class="same">
                    <h6 style="margin-top: 4px;">Quantity:</h6>
                    <textarea style="margin-left: 14px;" [defaultValue]="" [(ngModel)]="quantity" name="content" class="textarea"
                    id="area_text" type="text" placeholder="" cols="8" rows="1"> </textarea>
                    </div>

                    <input type="button" class="cart" value="Add to Cart" (click)="change($event.target)">

                    <input type="button" class="buy_now" value="Buy Now">
                </div>
            </div>

            <div class="prod_rest">
                <p>{{long}}</p>
            </div>

            <div class="reviews">

                <h3>Customer Reviews</h3>

            <div style="display: flex; flex-direction: row;" class="together">
                <img src="../../assets/Group 28.svg" alt="">
                <h3 style="padding-left: 20px;">4/5</h3>

            </div>
                <br>
                <br>

                
                <textarea [defaultValue]="" name="content" class="textarea"
                                    id="area_text" type="text" placeholder="" cols="55" rows="4"></textarea>

                <img style="margin-left: 30px; margin-bottom: 22px;" onclick="" src="../../assets/Frame 32.svg" alt="">


            </div>

        </div>
        </div>

        <div class="seller_info">

              <h3 style="cursor: pointer;" (click)="taketouser(seller)">Seller Info</h3>

              <div class="row">
                <div  [ngStyle]="{backgroundImage: 'url(https://bob.anujagrawal.co.in' + sellerimg + ')'}" (click)="taketouser(seller)" class="imgseller">
                     
                </div>

                <div (click)="taketouser(seller)" style="cursor: pointer ;" class="seller">
                
                          <p>    {{seller}} </p>
                </div>

                <div class="connect">

                    <input type="button" class="conbut" value="Connect">
                </div>

              </div>

              <p style="margin-left: 20px;">Contact Information</p>
        </div>
    </div>
</div>

<app-footer></app-footer>