<div class="con_sidebar">

    <div class="con_bottom">


        <div class="con_header"> People who want to Connect with you </div>


        <div *ngIf="data">
            <div *ngFor="let suggest of data" class="feed_post">

        <div class="con_connections">

            <div [ngStyle]="{backgroundImage: 'url(https://bob.anujagrawal.co.in' + suggest.from_user.profile_pic + ')'}" class="sidebar_circle"></div>
            <div class="sidebar_info">
                <p> {{suggest.from_user.username}} </p>
                <p> Name of startup</p>
                <p> Industry</p>
                <div  class="connect_button">
                    <!-- <input type="button" id="btn" value="Connect" onclick="confirm()"/> -->
                    <input type="button" [id]="suggest.id" class="conbut" value="Connect" (click)="change($event.target)">
                </div>
            </div>
            
        </div>
        <br>

            </div>
        </div>
<!-- 
        <div class="con_connections">

            <div class="sidebar_circle"></div>
            <div class="sidebar_info">
                <p> Name of user</p>
                <p> Name of startup</p>
                <p> Industry</p>
            </div>
            <div class="connect_button">
                <button>Connect</button>
            </div>
        </div>
        <br>

        <br>
        <div class="con_connections">

            <div class="sidebar_circle"></div>
            <div class="sidebar_info">
                <p> Name of user</p>
                <p> Name of startup</p>
                <p> Industry</p>
            </div>
            <div class="connect_button">
                <button>Connect</button>
            </div>
        </div>
        <br> -->


    </div>
</div>



