<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="disp_img">
    <input type="file" name="" id="image_input" accept="image/png , image/jpg">
    </div>
    <br>
    <br>

    <p>Display Name of startup</p> 
    <!-- this will be input by the user and will be stored in system -->
    
    <br>
 <div class="container">
    <div class="Entry" id="first">
        <p>Trade Name of Startup</p>
    <input type="text" id="textValue">
    
               <button onclick="save()">Ok</button>
                 <p id="getText"></p>
      <script>var inputV = document.getElementById("textValue").value;
    function save() {
    document.getElementById("getText").innerHTML = inputV;
    }
    </script>
    </div>

    <div class="Entry" id="second">
        <p>Address of Office</p>
        <input type="text" id="textValue">
    <button onclick="save()">Ok</button>
    <p id="getText"></p>
     <script>var inputV = document.getElementById("textValue").value;
        function save() {
        document.getElementById("getText").innerHTML = inputV;
        }
        </script>
        </div>

        <div class="Entry_personal" id="third">
            <p>Recognision by Govt.</p>
            <input type="text" id="textValue">
        <button onclick="save()">Ok</button>
        <p id="getText"></p>
         <script>var inputV = document.getElementById("textValue").value;
            function save() {
            document.getElementById("getText").innerHTML = inputV;
            }
            </script>
            </div>

            <div class="Entry_personal" id="fourth">
                <p>Association with incubator/accelerator</p>
                <input type="text" id="textValue">
            <button onclick="save()">Ok</button>
            <p id="getText"></p>
             <script>var inputV = document.getElementById("textValue").value;
                function save() {
                document.getElementById("getText").innerHTML = inputV;
                }
                </script>
                </div>

                <div class="Entry" id="fifth">
                    <p>Operational Since</p>
                    <input type="number" id="textValue">
                <button onclick="save()">Ok</button>
                <p id="getText"></p>
                 <script>var inputV = document.getElementById("textValue").value;
                    function save() {
                    document.getElementById("getText").innerHTML = inputV;
                    }
                    </script>
                    </div>

                    <div class="Entry_personal" id="sixth">
                        <p>Turnover</p>
                        <input type="text" id="textValue">
                    <button onclick="save()">Ok</button>
                    <p id="getText"></p>
                     <script>var inputV = document.getElementById("textValue").value;
                        function save() {
                        document.getElementById("getText").innerHTML = inputV;
                        }
                        </script>
                        </div>

                        <div class="Entry" id="seventh">
                            <p>Business Brief</p>
                            <input type="text" id="textValue">
                        <button onclick="save()">Ok</button>
                        <p id="getText"></p>
                         <script>var inputV = document.getElementById("textValue").value;
                            function save() {
                            document.getElementById("getText").innerHTML = inputV;
                            }
                            </script>
                            </div>

                            <div class="Entry_dd" id="eighth">
                                <p>Industry</p>
                    
                                <input type="text" id="textValue">
                            <button onclick="save()">Ok</button>
                            <p id="getText"></p>
                             <script>var inputV = document.getElementById("textValue").value;
                                function save() {
                                document.getElementById("getText").innerHTML = inputV;
                                }
                                </script>
                                </div>

                                <div class="Entry" id="ninth">
                                    <p>Key Team Members</p>
                                    <input type="text" id="textValue">
                                <button onclick="save()">Ok</button>
                                <p id="getText"></p>
                                 <script>var inputV = document.getElementById("textValue").value;
                                    function save() {
                                    document.getElementById("getText").innerHTML = inputV;
                                    }
                                    </script>
                                    </div>

                                    <div class="Entry" id="tenth">
                                        <p>Website</p>
                                        <input type="text" id="textValue">
                                    <button onclick="save()">Ok</button>
                                    <p id="getText"></p>
                                     <script>var inputV = document.getElementById("textValue").value;
                                        function save() {
                                        document.getElementById("getText").innerHTML = inputV;
                                        }
                                        </script>
                                        </div>

                                        <div class="Entry_personal" id="eleventh">
                                            <p>Backing by angel investor/VC</p>
                                            <input type="text" id="textValue">
                                        <button onclick="save()">Ok</button>
                                        <p id="getText"></p>
                                         <script>var inputV = document.getElementById("textValue").value;
                                            function save() {
                                            document.getElementById("getText").innerHTML = inputV;
                                            }
                                            </script>
                                            </div>

                                            <div class="Entry_no" id="twelfth">
                                                <p>Phone Number</p>
                                                <input type="number" id="textValue">
                                            <button onclick="save()">Ok</button>
                                            <p id="getText"></p>
                                             <script>var inputV = document.getElementById("textValue").value;
                                                function save() {
                                                document.getElementById("getText").innerHTML = inputV;
                                                }
                                                </script>
                                                </div>

                                                <div class="Entry_no" id="thirteenth">
                                                    <p>Email ID</p>
                                                    <input type="text" id="textValue">
                                                <button onclick="save()">Ok</button>
                                                <p id="getText"></p>
                                                 <script>var inputV = document.getElementById("textValue").value;
                                                    function save() {
                                                    document.getElementById("getText").innerHTML = inputV;
                                                    }
                                                    </script>
                                                    </div>

                                                    <div class="Entry" id="fourteenth">
                                                        <p>Professional achievements and Awards</p>
                                                        <input type="text" id="textValue">
                                                    <button onclick="save()">Ok</button>
                                                    <p id="getText"></p>
                                                     <script>var inputV = document.getElementById("textValue").value;
                                                        function save() {
                                                        document.getElementById("getText").innerHTML = inputV;
                                                        }
                                                        </script>
                                                        </div>

                                                        <div class="Entry_personal" id="fifteenth">
                                                            <p>Employee No.</p>
                                                            <input type="text" id="textValue">
                                                        <button onclick="save()">Ok</button>
                                                        <p id="getText"></p>
                                                         <script>var inputV = document.getElementById("textValue").value;
                                                            function save() {
                                                            document.getElementById("getText").innerHTML = inputV;
                                                            }
                                                            </script>
                                                            
                                                            </div>


                  </div>
   
</body>
</html>
