body{
    align-items: center;
}

.disp_img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    width: 375px;
    height: 210px;
    border: 2px solid black;
    background-position: center;
    background-size: cover;
}

.container{
    flex-direction: row;
    color: red;
}




