<app-header></app-header>

<div class="profile_body">
  


    <div class="rounded_rectangle">
           
    </div>

    <div class="mini_rectangles">

   <div class="profile_rectangle">

  
    <div class="disp_img">
               
    </div>
    
    <div class="except_image">
        <div class="main_info">
        
        <p class="startup_name">User Name, Startup Name</p>

        <p class="industry_name">Legal Name | Industry</p>
    </div>
    </div>
    

    </div>

    <div class="gst_rectangle">
 
        <!-- the gst icon and the other icon will come here -->

    </div>

</div>

<div class="about_us">
    <h3>About us</h3>
    <p>Lorem ipsums dolor sit amet consectetur adipisicing elit. Enim porro, itaque id quis deleniti quo. Omnis quae neque commodi ducimus velit, cum voluptates! Quia soluta a esse ullam voluptatem quam ratione aperiam obcaecati non magni ducimus quo, facere in mollitia explicabo expedita delectus, blanditiis eveniet magnam dolores voluptate consectetur nisi tenetur impedit. Assumenda veniam earum illo inventore ea cum dolores amet voluptate. Ex molestias praesentium rerum soluta obcaecati? Earum vel aliquid accusantium sequi minus in animi, praesentium delectus autem velit!</p>
</div>

<div class="info_boxes">

    <div class="boxes">

        <h6>Turnover</h6>

    </div>

    <div class="boxes">

        
        <h6>Employees</h6>

    </div>

    <div class="boxes">

        
        <h6>Operational Since</h6>

    </div>

    <div class="boxes">

        
        <h6>Won xyz award</h6>

    </div>

    <div class="boxes">

        
        <h6>Won xyz award</h6>

    </div>

    <div class="boxes">
        
        <h6>Won xyz award</h6>

    </div>


</div>

   <h4 class="keyteam">Key Team Members</h4>

   <div class="team">


           <div class="total_member">
             <div class="team_member"> </div>
                 <div class="text_member">
                     <p class="member_name">Name</p>
                     <p class="member_post">Position</p>
                 </div>

             </div>

             <div class="total_member">
             <div class="team_member"> </div>
                <div class="text_member">
                    <p class="member_name">Name</p>
                    <p class="member_post">Position</p>
                </div>
                 
            </div>

            <div class="total_member">
            <div class="team_member"> </div>
                <div class="text_member">
                    <p class="member_name">Name</p>
                    <p class="member_post">Position</p>
                </div>
                 
            </div>
   </div>
    
 

</div>

    <app-connections class="connections"> </app-connections>

         

