<app-header></app-header>

<div class="profile_body">

    <!-- <div *ngIf="data">
        <div *ngFor="let prof of data" class="feed_post"> -->




    <div class="rounded_rectangle">

    </div>

    <div class="mini_rectangles">

        <div class="profile_rectangle">


            <div [ngStyle]="{backgroundImage: 'url(https://bob.anujagrawal.co.in' + pictureuser + ')'}"
                class="disp_img">


            </div>

            <div class="except_image">
                <div class="main_info">



                    <p class="startup_name">{{username}}</p>

                    <div class="edit">
                    <p class="industry_name" [(ngModel)]="indusname" >Walmart Inc. | Retail</p>
                    <a href="edit"><button class="editing"  type="input">Edit Profile</button></a>
                    </div>

                    <!-- above we have mentioned user name, startup name, legal name of company, industry which company belongs to -->
                </div>
            </div>


        </div>

        <div class="gst_rectangle">

            <!-- the gst icon and the other icon will come here -->


            <div class="icon1"></div>
            <div class="icon2"></div>

        </div>

    </div>

    <div class="user_info">

        <div class="about_us">
            <h3>About us</h3>
            <p>Walmart Inc. is an American multinational retail corporation that operates a chain of hypermarkets,
                discount department stores, and grocery stores from the United States, headquartered in Bentonville,
                Arkansas. Walmart is the world's largest company by revenue, with about US$570 billion in annual
                revenue, according to the Fortune Global 500 list in May 2022. It is also the largest private employer
                in the world with 2.2 million employees. </p>
        </div>

        <div class="personal_details">

            <div class="personal_single">
                <img src="../../assets/Phone.svg" alt="">
                <p>Phone No.</p>
            </div>

            <div class="personal_single">
                <img src="../../assets/Group 2.svg" alt="">
                <p>Email ID</p>
            </div>

            <div class="personal_single">
                <img src="../../assets/Globe.svg" alt="">
                <a href="https://www.walmart.com/" target="_blank">www.walmart.com</a>
            </div>


        </div>

    </div>

    <!-- <div class="info_boxes">

        <div class="boxes">
            <div class="box_content">
                <h2>400 mil.</h2>

                <h6>Turnover</h6>
            </div>
        </div>

        <div class="boxes">

            <div class="box_content">
                <h2>500</h2>
                <h6>Employees</h6>
            </div>

        </div>

        <div class="boxes">

            <div class="box_content">
                <h2>1980</h2>

                <h6>Operational Since</h6>
            </div>
        </div>

        <div class="boxes">

            <div class="box_content">
                <h2>xyz/logo</h2>

                <h6>Won xyz award</h6>
            </div>
        </div>

        <div class="boxes">

            <div class="box_content">
                <h2>xyz/logo</h2>

                <h6>Won xyz award</h6>
            </div>
        </div>

        <div class="boxes">
            <div class="box_content">
                <h2>xyz/logo</h2>

                <h6>Won xyz award</h6>
            </div>
        </div>


    </div> -->

    <h4 class="keyteam">Key Team Members</h4>

    <div class="team">


        <div class="total_member">
            <div class="team_member image1"> </div>
            <div class="text_member">
                <p class="member_name">Name</p>
                <p class="member_post">Position</p>
            </div>

        </div>

        <div class="total_member">
            <div class="team_member image2"> </div>
            <div class="text_member">
                <p class="member_name">Name</p>
                <p class="member_post">Position</p>
            </div>

        </div>

        <div class="total_member">
            <div class="team_member image3"> </div>
            <div class="text_member">
                <p class="member_name">Name</p>
                <p class="member_post">Position</p>
            </div>

        </div>
    </div>


    <div class="market_header">
        <h3>Products sold by this Business</h3>
    </div>

    <div class="prof_market">


        <div class="oneimg">
            <div class="plus">
                <a href="addpr">
            <img  src="../../assets/Plus.png" alt="">
            <!-- <iframe src="addpr">
            </iframe> -->
                </a>
            
            <!-- <input onchange="" type="file" class="choosefile" id="file-input1" accept="image/jpg, image/jpeg, image/png"> -->
            </div>
        </div>
        
        <div class="oneimg">
                 <img src="../../assets/bluetooth-headphones-500x500-1.jpg" alt="">
                 <div class="writeup">
                 <p>Product Name</p>
                 <p>Info/price</p>
                </div>
        </div>
        <div class="oneimg">
            <img src="../../assets/download.headphones.jpg" alt="">
            <div class="writeup">
            <p>Product Name</p>
            <p>Info/price</p>
        </div>
        </div>
        <div class="oneimg">
            <img src="../../assets/JBL-Free-WFH-Headphones-and-Headsets-492338532-i-1-1200Wx1200H-300Wx300H.jpg" alt="">
            <div class="writeup">
                <p>Product Name</p>
                <p>Info/price</p>
            </div>
        </div>

      

       
    </div>


    <div class="expand">
        
        <div class="oneimg">
            <img src="../../assets/JBL-Free-WFH-Headphones-and-Headsets-492338532-i-1-1200Wx1200H-300Wx300H.jpg" alt="">
            <div class="writeup">
                <p>Product Name</p>
                <p>Info/price</p>
            </div>
        </div>

        <div class="oneimg">
            <img src="../../assets/JBL-Free-WFH-Headphones-and-Headsets-492338532-i-1-1200Wx1200H-300Wx300H.jpg" alt="">
            <div class="writeup">
                <p>Product Name</p>
                <p>Info/price</p>
            </div>
        </div>


        
        <div class="oneimg">
            <img src="../../assets/JBL-Free-WFH-Headphones-and-Headsets-492338532-i-1-1200Wx1200H-300Wx300H.jpg" alt="">
            <div class="writeup">
                <p>Product Name</p>
                <p>Info/price</p>
            </div>
        </div>

        
        <div class="oneimg">
            <img src="../../assets/JBL-Free-WFH-Headphones-and-Headsets-492338532-i-1-1200Wx1200H-300Wx300H.jpg" alt="">
            <div class="writeup">
                <p>Product Name</p>
                <p>Info/price</p>
            </div>
        </div>

        
        <div class="oneimg">
            <img src="../../assets/JBL-Free-WFH-Headphones-and-Headsets-492338532-i-1-1200Wx1200H-300Wx300H.jpg" alt="">
            <div class="writeup">
                <p>Product Name</p>
                <p>Info/price</p>
            </div>
        </div>
    </div>

    <div class="moreexpand">
        <p>more</p>
        <img src="../../assets/Vector.svg" alt="">
    </div>
    




    <!--  
        </div>
    </div> -->
</div>

<app-connections class="connections"> </app-connections>