.right_sidebar {
    position: fixed;

    padding-top: 40px;
    /* padding-left: 100px; */
    /* flex: 0.3; */
    border-radius: 10px;
    text-align: left;
    height: fit-content;

    right: 10vw;


}

.right_sidebar_news {
    display: flex;
    flex-direction: column;
    border: 2px solid #d6d6d6;
    background-color: white;
    border-radius: 10px;
    max-width: 20vw;
    padding: 10px;

    .sidebar_header {
        margin-bottom: 8px;
    }


}






.sidebar_news {
    display: flex;
    cursor: pointer;
    margin-bottom: 3px;
    margin-top: 5px;
    border: 2px solid #d6d6d6;
    padding: 3px;
    margin-bottom: 10px;

    p {

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.sidebar_header {
    text-align: left;
    place-items: center;
    font-size: 20px;
    font-weight: bold;
    /* padding: 10px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input_image {

    background: url(../../assets/orange_bg.jpg) right no-repeat;
    /*Your Image Link*/
    padding-right: 17px;

}

.material-symbols-outlined {
    color: #5a5a59;
}

/* #writeup{
    
} */

a {
    color: unset;
    text-decoration: none;
}