<div class="right_sidebar">



    <div class="right_sidebar_news">

        <div class="sidebar_header"> {{topic}} </div>

        <div class="sidebar_news">
            
            <p>
                <a href="https://entrackr.com/2022/05/funding-and-acquisitions-in-indian-startups-this-week-09-may-14-may/"
                    target="_blank">

                    Funding and acquisitions in Indian startups this week </a>
            </p>
        </div>

        <div class="sidebar_news">
            
            <p>
                <a href="https://www.businessinsider.in/business/startups/news/zepto-has-been-taking-over-reliance-backed-dunzo-and-zomato-backed-blinkit-says-report/slidelist/91594636.cms"
                    target="_blank">
                    A nine-month old startup is racing past Reliance, Tata and Zomato backed startups in the
                    10-min delivery market
                </a>
            </p>
        </div>
        <div class="sidebar_news">
            
            <p><a href=""> News Article 3 </a></p>
        </div>
        <div class="sidebar_news">
            
            <p><a href=""> News Article 4 </a></p>
        </div>
        <div class="sidebar_news">
            
            <p><a href=""> News Article 5 </a></p>
        </div>

    </div>

</div>


