.allsettings{

    margin-left: 10vw;
    margin-bottom: 10vh;

    margin-top: 100px;
    min-height: 58vh;

    .resetpwd{
        display: flex;
        flex-direction: column;


        
    }

    .show{
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        

        h4{
            width: 180px;
            // margin-bottom: 0;
        }
        h5{
          margin-right: 20vw;
          width: 190px;
          margin-left: 50px;
        }

        h3{
            color: blue;
            cursor: pointer;
            border: 1px solid black;
            padding: 10px;
            border-radius: 20px;
        }
    }
}

.withads{
    display: flex;
    flex-direction: row;
}


.onecomponent{
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    p{
        margin: 0;
        width: 200px;
    }

    input{
        margin-left: 10px;
    }
}