<app-header></app-header>


<div class="allsettings">

    <div class="resetpwd">
<h2>Reset Password</h2>

<div class="onecomponent">
<p> Enter Old Password </p>
<input type="text" name="oldpwd" id="">
</div>

<div class="onecomponent">
<p> Enter New Password </p>
<input type="text" name="newpwd" id="">
    </div>


<div class="onecomponent">
<p> Re-type New Password </p>
    <input type="text" name="newpwd" id="">
    </div>

    </div>


    <div class="email">
        <h2>Change Email</h2>

        <div class="show">    
        <h5> {{phone}} </h5>

        <h6>Change</h6>
        </div>
    </div>

    <div class="phone">
        <h2>Change Phone Number</h2>

        <div class="show">    
               <h5> {{email}} </h5>

        <h6>Change</h6>
        </div>
    </div>

</div>

<app-footer></app-footer>